body	{
	margin: 0;
	padding: 0;
}

.square		{
	width: 300px;
	height: 300px;
	background-color: red;
	color: #fff;
	font-size: 16px;
	margin: 50px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

@keyframes animatie1 {
	from {background-color: red;}
	to {background-color: yellow;}
}

.animatie1 {
	animation-name: animatie1;
	animation-duration: 5s;
}

@keyframes animatie2 {
	from {font-size: 16px;}
	to{font-size: 30px;}
}

.animatie2 {
	animation-name: animatie2;
	animation-duration: 5s;
}

@keyframes animatie3 {
	0%   {background-color: red;}
	25%  {background-color: yellow;}
	50%  {background-color: blue;}
	100% {background-color: green;}
}

.animatie3 {
	animation-name: animatie3;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes animatie4 {
	0%   {background-color: red; left: 0px; top: 0px;}
	25%  {background-color: yellow; left: 200px; top: 0px;}
	50%  {background-color: blue; left: 200px; top: 200px;}
	75%  {background-color: green; left: 0px; top: 200px;}
	100% {background-color: red; left: 0px; top: 0px;}
}

.animatie4 {
	animation-name: animatie4;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes animatie5 {
	0%   {background-color: red; left: 0px; top: 0px;}
	25%  {background-color: yellow; left: 200px; top: 0px;}
	50%  {background-color: blue; left: 200px; top: 200px;}
	75%  {background-color: green; left: 0px; top: 200px;}
	100% {background-color: red; left: 0px; top: 0px;}
}

.animatie5 {
	animation-name: animatie5;
	animation-duration: 5s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

@keyframes animatie6 {
	from {top: 0px;}
	to {top: 200px; background-color: blue;}
}

.animatie6 {
	animation-name: animatie6;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

@keyframes animatie7 {
	0%   {background-color: red; left: 0px; top: 0px;}
	25%  {background-color: yellow; left: 200px; top: 0px;}
	50%  {background-color: blue; left: 200px; top: 200px;}
	75%  {background-color: green; left: 0px; top: 200px;}
	100% {background-color: red; left: 0px; top: 0px;}
}

.animatie7 {
	animation: animatie7 5s linear 2s infinite alternate;
}

@keyframes animatie8 {
	from {width: 300px; height: 300px;}
	to { width: 600px; height: 600px;}
}

.animatie8 {
	animation-name: animatie8;
	animation-duration: 4s;
}

.box	{
	margin-top: 100px;
	background-color: #61ab20;
	margin: 0 auto;
	width: 500px;
	height: 300px;
	position: relative;
	box-shadow: inset 0 0 3px #000;
	border-radius: 5px;
	border: 1px solid #111;
	overflow: hidden;
	margin-bottom: 100px;
}

.box b {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #3673cf;
	box-shadow: inset -5px -5px 5px rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04);
	position: absolute;
	animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@keyframes moveX {
	from {left: 0;} to {left: 480px;}
}

@keyframes moveY {
	from {top: 0;} to {top: 280px;}
}