body {
	padding: 0;
	margin: 0;
}

.background1 {
	height: 200px;
	width: 200px;
	background-color: red;
}

.background2 {
	width: 1300px;
	height: 600px;
	background-image: url('/web/img/html-css.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
}

.background3 {
	width: 500px;
	height: 500px;
	background-image: url('https://pbs.twimg.com/profile_images/993504415/css_400x400.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;
	background-color: red;
}

.background4 {
	width: 500px;
	height: 500px;
	background: url('/web/img/css.png') no-repeat bottom 20px right 20px;
	background-color: yellow;
}

.background5 {
	width: 500px;
	height: 500px;
	background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/CSS-shade.svg/1200px-CSS-shade.svg.png');
	background-color: olive;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.background6 {
	width: 500px;
	height: 500px;
	background: rgba(255,0,0,1) url('https://lh3.googleusercontent.com/UAylvT-lNL3zfIefMgP9kiUwrhEnJxJiwq8hC0kne0qvSaOGYH8BVlJMYnNWRneb5AI=w300');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}