body	{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

@keyframes animation_solutions	{
	0% {margin-left: -100%; opacity: 0;}
	10%{margin-left: -90%; opacity: 0.1;}
	20%{margin-left: -80%; opacity: 0.2;}
	30%{margin-left: -70%; opacity: 0.3;}
	40%{margin-left: -60%; opacity: 0.4;}
	50%{margin-left: -50%; opacity: 0.5;}
	60%{margin-left: -40%; opacity: 0.6;}
	70%{margin-left: -30%; opacity: 0.7;}
	80%{margin-left: -20%; opacity: 0.8;}
	90%{margin-left: -10%; opacity: 0.9;}
	100% {margin-left: 0; opacity: 1;}
}

.animation_solutions	{
	animation-name: animation_solutions;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes	animation_foryou	{
	0% {margin-left: -100%; opacity: 0;}
	10%{margin-left: -90%; opacity: 0.1;}
	20%{margin-left: -80%; opacity: 0.2;}
	30%{margin-left: -70%; opacity: 0.3;}
	40%{margin-left: -60%; opacity: 0.4;}
	50%{margin-left: -50%; opacity: 0.5;}
	60%{margin-left: -40%; opacity: 0.6;}
	70%{margin-left: -30%; opacity: 0.7;}
	80%{margin-left: -20%; opacity: 0.8;}
	90%{margin-left: -10%; opacity: 0.9;}
	100% {margin-left: 0; opacity: 1;}
}

.animation_foryou	{
	animation-name: animation_foryou;
	animation-delay: 0.3s;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_text	{
	0% {margin-left: -100%; opacity: 0;}
	10%{margin-left: -90%; opacity: 0.1;}
	20%{margin-left: -80%; opacity: 0.2;}
	30%{margin-left: -70%; opacity: 0.3;}
	40%{margin-left: -60%; opacity: 0.4;}
	50%{margin-left: -50%; opacity: 0.5;}
	60%{margin-left: -40%; opacity: 0.6;}
	70%{margin-left: -30%; opacity: 0.7;}
	80%{margin-left: -20%; opacity: 0.8;}
	90%{margin-left: -10%; opacity: 0.9;}
	100% {margin-left: 0; opacity: 1;}
}

.animation_text		{
	animation-name: animation_text;
	animation-delay: 0.6s;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_video	{
	0% {margin-left: -100%; opacity: 0;}
	10%{margin-left: -90%; opacity: 0.1;}
	20%{margin-left: -80%; opacity: 0.2;}
	30%{margin-left: -70%; opacity: 0.3;}
	40%{margin-left: -60%; opacity: 0.4;}
	50%{margin-left: -50%; opacity: 0.5;}
	60%{margin-left: -40%; opacity: 0.6;}
	70%{margin-left: -30%; opacity: 0.7;}
	80%{margin-left: -20%; opacity: 0.8;}
	90%{margin-left: -10%; opacity: 0.9;}
	100% {margin-left: 0; opacity: 1;}
}

.animation_video	{
	animation-name: animation_video;
	animation-delay: 0.9s;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.clear	{
	clear: both;
}

.div_800	{
	width: 800px;
	margin: 0 auto;
}

.header1	{
	width: 650px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header1 a	{
	text-decoration: none;
	color: black;
}

.browser	{
	float: left;
	margin-bottom: 0;
}

.contact	{
	float: right;
	color: #0071ca;
	margin-bottom: 0;
}

.contact:hover	{
	text-decoration: underline;
}

.header2	{
	background-color: #333333;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header2 p	{
	margin-bottom: 0;
}

.header2 a	{
	text-decoration: none;
	color: white;
}

.header3	{
	width: 650px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

.benedict	{
	float: left;
	height: 25px;
	width: 27%;
	background: url('/web/img/Benedict/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.buttons	{
	float: right;
}

.buttons a	{
	margin-left: 5px;
	text-decoration: none;
	color: black;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid white;
}

.buttons a:hover	{
	text-decoration-line: none;
	border: 1px solid #0071ca;
	color: #0071ca;
}

.solutions	{
	width: 100%;
	padding-top: 88px;
	padding-bottom: 350px;
	background: url('/web/img/Benedict/1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.div_maglavais		{
	padding-left: 40px;
}

.solutions	span	{
	display: block;
	font-size: 24px;
	color: white;
	opacity: 0;
}

.solutions p    {
	line-height: 26px;
	color: white;
}

.for_you	{
	line-height: 35px !important;
	margin-bottom: 30px;
	font-size: 36px;
	color: white;
	font-weight: bolder;
	opacity: 0;
}

.opacity0	{
	opacity: 0;
}

.video	{
	margin-top: 30px;
	opacity: 0;
}

.video p   {
	line-height: 45px;
	margin-bottom: 0;
}

.video	p, .video div  {
	display: inline-block;
}

.play	{
	margin-left: 10px;
	font-size: 8px;
	width: 20px;
	height: 20px;
	transition: all 0.2s linear;
}

.play:hover		{
	cursor: pointer;
	transform: rotate(360deg) scale(2);
	background: orange;
	border-radius: 50%;
}

.play:before	{
	content: "\f04b";
	font-family: "FontAwesome";
	border: 1px solid white;
	color: white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.template	{
	width: 650px;
	margin: 0 auto;
	margin-top: 75px;
	margin-bottom: 75px;
	background: url('/web/img/Benedict/arrow.png');
	background-repeat: repeat-y;
	display: flex;
	align-items: center;
}

.container_texts	{
	margin-left: 50px;
}

.container_texts p   {
	line-height: 25px;
}

.text_template		{
	font-size: 36px;
	font-weight: bold;
	line-height: 42px !important;
}

.company	{
	width: 650px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.div_company	{
	background-color: #333333;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 35px;
}

.div_company p    {
	color: white;
	margin-bottom: 30px;
	line-height: 25px;
}

.div_company a   {
	text-decoration: none;
	color: white;
	font-weight: 600;
}

.div_company a:hover	{
	color: orange;
}

.div_company i   {
	margin-left: 10px;
}

.about	{
	font-size: 24px;
	font-weight: bold;
	line-height: 28px !important;
}

.sea    {
	background: url('/web/img/Benedict/2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 375px;
}

.services	{
	width: 100%;
	padding: 75px;
}

.services p   {
	line-height: 26px;
}

.container_options		{
	margin-top: 50px;
}

.our_services	{
	font-size: 36px;
	font-weight: bold;
	line-height: inherit !important;
	margin-bottom: 15px;
}

.horizontal		{
	background: url('/web/img/Benedict/title-line.png');
	background-size: contain;
	background-repeat: repeat-x;
	height: 25px;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.options	{
	float: left;
	width: 32%;
	text-align: center;
}

.options p   {
	line-height: 25px;
}

.margin_right	{
	margin-right: 2%;
}

.poza	{
	width: 80%;
	margin-bottom: 25px;
}

.thick	{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
}

.read_more		{
	text-align: center;
	margin-top: 40px;
}

.read_more a   {
	border-radius: 10px;
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}

.read_more a:hover	{
	text-decoration-line: none;
	border: 1px solid #0071ca;
	color: #0071ca;
}

.story	{
	width: 100%;
	background-color: #e7e8e9;
	padding: 75px;
}

.padding0	{
	padding: 0;
}

.story_pic img	{
	height: 240px;
	width: calc(100% - 15px);
	object-fit: cover;
}

.text_height p	{
	margin-bottom: 29px;
	line-height: 25px;
}

.text_height a   {
	text-decoration: none;
	color: black;
}

.text_height a:hover	{
	color: #0071ca;
}

.text_height i   {
	font-size: 14px;
	margin-left: 5px;
}

.text_story		{
	margin-top: 10px !important;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 36px !important;
}

.location	{
	width: 800px;
}

.location p   {
	line-height: 24px;
}

.padding_other		{
	padding-top: 75px;
	padding-left: 75px;
	padding-bottom: 75px;
}

.our_location	{
	margin-bottom: 40px;
	font-size: 36px;
	font-weight: bold;
}

.horizontal_curls	{
	margin-top: 45px;
	background: url('/web/img/Benedict/title-line.png');
	background-size: contain;
	background-repeat: repeat-x;
	height: 25px;
	width: 100px;
	margin-bottom: 30px;
}

.best_choice	{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.read_more2		{
	margin-top: 40px;
}

.read_more2 a   {
	border: 1px solid white;
	border-radius: 10px;
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}

.read_more2 a:hover	{
	text-decoration-line: none;
	border: 1px solid #0071ca;
	color: #0071ca;
}

.pic_location	{
	padding: 0;
}

.pic_location img   {
	height: 610px;
	width: 100%;
}

.news	{
	width: 650px;
	margin: 0 auto;
	padding-top: 75px;
	padding-bottom: 75px;
}

.from_us	{
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 25px;
}

.margin_left	{
	margin-bottom: 0;
}

.margin_top		{
	margin-top: 25px;
	padding: 0;
}

.margin_top a    {
	display: block;
	text-decoration-line: none;
	margin-top: 40px;
}

.margin_top i   {
	margin-left: 10px;
}

.guitarist_Los_Angles	{
	font-size: 24px;
	font-weight: bold;
}

.single_photo img   {
	width: 100%;
	height: 450px;
	object-fit: cover;
}

.blog	{
	width: 100%;
	padding: 75px;
	background-color: #e7e8e9;
}

.blog2	{
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 35px;
}

.blog_pics1		{
	margin-right: 20px;
	width: calc(50% - 20px);
}

.blog_pics1 img   {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.blog_pics1 p   {
	line-height: 25px;
}

.blog_pics2		{
	margin-left: 20px;
	width: calc(50% - 20px);
}

.blog_pics2 img   {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.blog_pics2 p   {
	line-height: 25px;
}

.text_blog	{
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
}

.blog_pics1 a   {
	display: block;
	text-decoration-line: none;
	margin-top: 30px;
}

.blog_pics1 i   {
	margin-left: 10px;
}

.blog_pics2 a   {
	display: block;
	text-decoration-line: none;
	margin-top: 30px;
}

.blog_pics2 i   {
	margin-left: 10px;
}

.team   {
	width: 100%;
	padding: 75px;
	padding-bottom: 60px;
}

.team p   {
	line-height: 25px;
}

.text_team   {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 25px;
}

.team img   {
	width: 100%;
	height: 10px;
	object-fit: contain;
	margin-bottom: 35px;
}

.container_people div:last-child	{
	margin-right: 0;
}

.people		{
	float: left;
	width: 23.5%;
	margin-top: 30px;
	margin-right: 2%;
}

.people img   {
	height: 280px;
	width: 100%;
	object-fit: cover;
	margin-bottom: 15px;
}

.names	{
	line-height: 20px !important;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.icons a   {
	text-decoration: none;
	color: black;
}

.icons i  {
	font-size: 18px;
}

.people  i:first-child	{
	margin-right: 10px;
}

.people  i:last-child	{
	margin-left: 10px;
}

.fa-facebook-f:hover	{
	color: #3B5998;
}

.fa-twitter:hover	{
	color: #1da1f2;
}

.fa-instagram:hover		{
	color: #e84b4f;
}

.benefits_container		{
	width: 100%;
}

.working_pic	{
	padding: 0;
}

.working_pic img    {
	height: 630.017px;
	object-fit: cover;
}

.benefits    {
	padding-top: 75px;
	padding-bottom: 75px;
	padding-left: 25px;
	background-color: #e7e8e9;
}

.benefits p   {
	line-height: 25px;
}

.our_benefits	{
	line-height: inherit !important;
	font-size: 36px;
	margin-bottom: 25px;
}

.list	{
	font-size: 18px;
	margin-left: 30px;
	line-height: inherit !important;
}

.quality_pic	{
	background: url('/web/img/Benedict/arrow.png');
	background-repeat: repeat-y;
	margin-top: 45px;
	margin-left: 20px;
	margin-bottom: 45px;
}

.benefits a   {
	border: 1px solid #e7e8e9;
	border-radius: 10px;
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}

.benefits a:hover	{
	text-decoration-line: none;
	color: #0071ca;
	border: 1px solid #0071ca;
}

.watch	{
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
	background-image: url('/web/img/Benedict/bg-img2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.watch p   {
	margin-bottom: 40px;
	line-height: 25px;
}

.watch_video	{
	font-size: 36px;
	color: white;
}

.play_pic	{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 0 auto;
	background-image: url('/web/img/Benedict/ico-play.png');
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.2s linear;
}

.play_pic:hover	{
	cursor: pointer;
	transform: rotate(360deg) scale(1.5);
	background-color: #0071ca;
}

.principles		{
	padding: 75px;
	display: flex;
	align-items: center;
}

.working_principles a   {
	text-decoration: none;
	color: white;
}

.working_principles a:hover		{
	color: orange;
}

.working_principles p   {
	line-height: 25px;
	margin-bottom: 30px;
}

.our_principles		{
	font-size: 24px;
	color: white;
	line-height: 28px !important;
}

.coast_pic 	  {
	height: 375px;
	background-image: url('/web/img/Benedict/14.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.working_principles		{
	background-color: #333333;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 35px;
}

.gallery	{
	padding: 75px;
	background-color: #e7e8e9;
	text-align: center;
}

.gallery span	{
	display: block;
	font-size: 36px;
	margin-bottom: 5px;
}

.gallery img   {
	object-fit: contain;
}

.container_pictures		{
	margin-top: 45px;
}

.container_left		{
	padding-left: 0;
}

.container_left img	   {
	width: 100%;
	height: 165px;
	object-fit: cover;
}

.container_middle	{
	padding-left: 5px;
	padding-right: 5px;
}

.container_middle img	{
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.container_right	{
	padding-right: 0;
}

.container_right img	{
	width: 100%;
	height: 165px;
	object-fit: cover;
}

.margin_bottom	{
	margin-bottom: 20px;
}

.rgba	{
	position: relative;
}

.rgba:hover	 .div_rgba	{
	cursor: pointer;
	display: block;
}

.div_rgba	{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(255,255,255, 0.4);
	display: none;
}

.wave   {
	position: relative;
	padding: 50px;
	padding-left: 75px;
	padding-right: 75px;
	background: url('/web/img/Benedict/bg-img3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.wave i  {
	font-size: 65px;
	color: white;
	margin-bottom: 10px;
}

.wave p   {
	margin-left: 75px;
	margin-bottom: 35px;
}

.wave span	{
	display: block;
	color: white;
	font-size: 18px;
	margin-left: 75px;
}

.guy	{
	position: absolute;
	right: 25px;
	bottom: 0;
	background: url('/web/img/Benedict/20.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 280px;
	height: 410px;
}

.contacts   {
	padding: 75px;
	display: flex;
	align-items: center;
}

.container_contacts		{
	background-color: #333333;
	padding-top: 30px;
	padding-bottom: 35px;
	padding-left: 35px;
}

.container_contacts span   {
	font-size: 24px;
	color: white;
}

.container_contacts address   {
	margin-top: 35px;
	color: white;
	margin-bottom: 35px;
}

.container_contacts p   {
	color: white;
	margin-bottom: 0;
}

.container_contacts i   {
	margin-top: 7px;
	margin-right: 16px;
	font-size: 15px;
	color: white;
}

.container_contacts i:hover		{
	cursor: pointer;
}

.fa-linkedin:hover	{
	color: #283e4a;;
}

.fa-pinterest:hover	{
	color: #bd081c;
}

.footer	{
	background-color: #333333;
	padding: 25px;
	padding-left: 75px;
	padding-right: 75px;
}

.footer p  {
	float: left;
	display: block;
	width: 33.333333%;
	color: white;
	text-decoration: underline;
	margin-bottom: 0;
}

.our_website	{
	text-align: center;
}

.unsubscribe	{
	text-align: right;
}