body	{
	margin: 0;
	padding: 0;
	font-family: 'Supermercado One', cursive;
}

.clear	{
	clear: both;
}

.no_padding		{
	padding: 0;
}

.fixed	{
	position: fixed;
	padding-top: 250px;
	padding-bottom: 250px;
}

.menu	{
	width: 68%;
	margin: 0 auto;
	text-align: right;
	font-size: 17px;
	color: grey;
	margin-top: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid grey;
}

.menu:hover		{
	cursor: pointer;
	color: darkorange;
}

.background1	{
	padding-top: 340px;
	padding-bottom: 360px;
	background: url('/web/img/gurlies.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
}

.coleman	{
	color: white;
}

.coleman h1	{
	font-size: 65px;
}

.coleman p  {
	font-size: 24px;
	margin-bottom: 60px;
}

.portfolio	{
	float: left;
	padding: 10px;
	padding-top: 13px;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: grey;
	margin-right: 0.5%;
}

.portfolio:hover	{
	cursor: pointer;
	background: #44a5f8;
}

.down	{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	top: 910px;
	left: 6.5%;
	z-index: 1;
}

.down i  {
	font-size: 22px;
}

.down:hover		{
	cursor: pointer;
	background-color: #44a5f8;
}

.fa-angle-up	{
	display: none;
}

.background2	{
	background-color: #457de2;
	padding-top: 45px;
	padding-bottom: 25px;
	display: none;
}

.statistics		{
	color: white;
}

.statistics p   {
	line-height: 45px;
	margin-bottom: 0;
}

.numbers	{
	font-size: 60px;
	margin-bottom: 0;
}

.background3	{
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: #eee;
}

.Brandon img	{
	object-fit: cover;
	height: 550px;
	width: 100%;
}

.about_me	{
	margin-top: 190px;
}

.about_me h1	{
	color: grey;
}

.about_me p     {
	color: grey;
	line-height: 25px;
}

.icons	{
	margin-top: 25px;
}

.icons a        {
	text-decoration: none;
	color: grey;
}

.icons i        {
	font-size: 18px;
	margin-right: 10px;
}

.fa-facebook-official:hover		{
	color: #3b5998;;
}

.fa-twitter:hover	{
	color: #1da1f2;
}

.fa-instagram:hover		{
	color: #ca307c;
}

.fa-pinterest-p:hover	{
	color: #bd081c;
}

.fa-behance:hover	{
	color: #191919;
}

.fa-dribbble:hover	{
	color: darkred;
}

.div_skills_padding		{
	padding-top: 150px;
	padding-bottom: 150px;
}

.div_skills_header	{
	margin-bottom: 50px;
	color: grey;
}

.div_skills_header h1    {
	display: block;
	margin: 0;
}

.div_skills    {
	padding: 0;
	color: grey;
	line-height: 25px;
}

.div_graphics	{
	padding: 0;
}

.container_percentages		{
	margin-bottom: 22px;
}

.domain   {
	float: left;
	color: grey;
}

.percentage_85	{
	margin-top: 5px;
	margin-left: 77.6%;
	color: grey;
}

.div_gradient85		{
	float: left;
	width: 85%;
	height: 3px;
	background: linear-gradient(to right, #a3daff, #238ae6);
}

.div_remainder15		{
	float: left;
	width: 15%;
	height: 3px;
	background-color: lightgrey;
}

.div_gradient75	{
	float: left;
	width: 75%;
	height: 3px;
	background: linear-gradient(to right, #a3daff, #238ae6);
}

.div_remainder25	{
	float: left;
	width: 25%;
	height: 3px;
	background-color: lightgrey;
}

.percentage_75		{
	margin-top: 5px;
	margin-left: 68%;
	color: grey;
}

.div_gradient95		{
	float: left;
	width: 95%;
	height: 3px;
	background: linear-gradient(to right, #a3daff, #238ae6);
}

.div_remainder5     {
	float: left;
	width: 5%;
	height: 3px;
	background-color: lightgrey;
}

.percentage_95		{
	margin-top: 5px;
	margin-left: 87.5%;
	color: grey;
}

.div_services	{
	padding-top: 75px;
	background-color: #eee;
	padding-bottom: 75px;
}

.div_services_texts	p	{
	color: grey;
	font-size: 17px;
	margin-top: 15px;
}

.margin_top		{
	margin-top: 60px;
}

.container_services		{
	float: left;
	width: calc(33.33333333% - 30px);
	text-align: center;
	background-color: white;
	color: grey;
	padding: 35px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.container_services i    {
	font-size: 35px;
	margin-bottom: 20px;
}

.container_services p    {
	color: silver;
}

.margin_right0		{
	margin-right: 0;
}