body	{
	margin: 0;
	padding: 0;
	font-family: 'Slabo 27px', serif;
}

.clear	{
	clear: both;
}

@keyframes animation_powerfull		{
	0% {margin-top: 0vw; opacity: 0;}
	10%{margin-top: 1vw; opacity: 0.1;}
	20%{margin-top: 2vw; opacity: 0.2;}
	30%{margin-top: 3vw; opacity: 0.3;}
	40%{margin-top: 4vw; opacity: 0.4;}
	50%{margin-top: 5vw; opacity: 0.5;}
	60%{margin-top: 6vw; opacity: 0.6;}
	70%{margin-top: 7vw; opacity: 0.7;}
	80%{margin-top: 8vw; opacity: 0.8;}
	90%{margin-top: 9vw; opacity: 0.9;}
	100% {margin-top: 10vw; opacity: 1;}
}

.animation_powerfull	{
	animation-name: animation_powerfull;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_txtmiddle		{
	0% {margin-left: -100%; opacity: 0;}
	10%{margin-left: -90%; opacity: 0.1;}
	20%{margin-left: -80%; opacity: 0.2;}
	30%{margin-left: -70%; opacity: 0.3;}
	40%{margin-left: -60%; opacity: 0.4;}
	50%{margin-left: -50%; opacity: 0.5;}
	60%{margin-left: -40%; opacity: 0.6;}
	70%{margin-left: -30%; opacity: 0.7;}
	80%{margin-left: -20%; opacity: 0.8;}
	90%{margin-left: -10%; opacity: 0.9;}
	100% {margin-left: 0; opacity: 1;}
}

.animation_txtmiddle		{
	animation-name: animation_txtmiddle;
	animation-delay: 2s;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_click		{
	0% {margin-bottom: -100%; opacity: 0;}
	10%{margin-bottom: -90%; opacity: 0.1;}
	20%{margin-bottom: -80%; opacity: 0.2;}
	30%{margin-bottom: -70%; opacity: 0.3;}
	40%{margin-bottom: -60%; opacity: 0.4;}
	50%{margin-bottom: -50%; opacity: 0.5;}
	60%{margin-bottom: -40%; opacity: 0.6;}
	70%{margin-bottom: -30%; opacity: 0.7;}
	80%{margin-bottom: -20%; opacity: 0.8;}
	90%{margin-bottom: -10%; opacity: 0.9;}
	100% {margin-bottom: 0; opacity: 1;}
}

.animation_click		{
	animation-name: animation_click;
	animation-delay: 4s;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_links		{
	0% {margin-right: -100%; opacity: 0;}
	10%{margin-right: -90%; opacity: 0.1;}
	20%{margin-right: -80%; opacity: 0.2;}
	30%{margin-right: -70%; opacity: 0.3;}
	40%{margin-right: -60%; opacity: 0.4;}
	50%{margin-right: -50%; opacity: 0.5;}
	60%{margin-right: -40%; opacity: 0.6;}
	70%{margin-right: -30%; opacity: 0.7;}
	80%{margin-right: -20%; opacity: 0.8;}
	90%{margin-right: -10%; opacity: 0.9;}
	100% {margin-right: 0; opacity: 1;}
}

.animation_links		{
	animation-name: animation_links;
	animation-delay: 6s;	
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_tone		{
	0% {margin-left: -100%; opacity: 0;}
	10%{margin-left: -90%; opacity: 0.1;}
	20%{margin-left: -80%; opacity: 0.2;}
	30%{margin-left: -70%; opacity: 0.3;}
	40%{margin-left: -60%; opacity: 0.4;}
	50%{margin-left: -50%; opacity: 0.5;}
	60%{margin-left: -40%; opacity: 0.6;}
	70%{margin-left: -30%; opacity: 0.7;}
	80%{margin-left: -20%; opacity: 0.8;}
	90%{margin-left: -10%; opacity: 0.9;}
	100% {margin-left: 0; opacity: 1;}
}

.animation_tone		{
	animation-name: animation_tone;
	animation-delay: 8s;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes animation_menu		{
	0% {margin-right: -100%; opacity: 0;}
	10%{margin-right: -90%; opacity: 0.1;}
	20%{margin-right: -80%; opacity: 0.2;}
	30%{margin-right: -70%; opacity: 0.3;}
	40%{margin-right: -60%; opacity: 0.4;}
	50%{margin-right: -50%; opacity: 0.5;}
	60%{margin-right: -40%; opacity: 0.6;}
	70%{margin-right: -30%; opacity: 0.7;}
	80%{margin-right: -20%; opacity: 0.8;}
	90%{margin-right: -10%; opacity: 0.9;}
	100% {margin-right: 0; opacity: 1;}
}

.animation_menu		{
	animation-name: animation_menu;
	animation-delay: 8s;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.first_page	{
	position: relative;
	height: 100vh;
	width: calc(100vw - 17px);
	background-image: url('/web/img/space.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header	{
	width: 75vw;
	margin: 0 auto;
}

.header_left	{
	margin-top: 1.5vw;
	float: left;
	text-align: center;
	font-size: 2vw;
	color: white;
	font-weight: 900;
	opacity: 0;
}

.header_right	{
	margin-top: 2.6vw;
	float: right;
	opacity: 0;
}

.header_right ul  {
	margin: 0;
}

.menu li	{
	list-style: none;
	display: inline-block;
	font-size: 0.8vw;
	font-weight: 600;
	margin-right: 1.5vw;
	text-align: center;
}

.menu li:last-child		{
	margin-right: 0;
}

.menu a   {
	text-decoration: none;
	color: white;
}

.menu a:hover   {
	color: orange;
}

.middle_content		{
	width: 75vw;
	margin: 0 auto;
	text-align: center;
}

.powerfull	{
	margin-top: 10vw;
	display: inline-block;
	font-size: 4.2vw;
	color: white;
	border-top: 2px solid rgba(255, 255, 255, .7);
	border-bottom: 2px solid rgba(255, 255, 255, .7);
	margin-bottom: 3vw;
	opacity: 0;
}

.text_middle	{
	margin-top: 0;
	font-size: 1.3vw;
	color: white;
	line-height: 2.3vw;
	opacity: 0;
}

.click_me	{
	margin-top: 4vw;
	display: inline-block;
	font-size: 1.4vw;
	color: white;
	padding: 0.8vw;
	padding-left: 2.3vw;
	padding-right: 2.3vw;
	border: 2px solid white;
	opacity: 0;
}

.click_me:hover		{
	cursor: pointer;
	background: orange;
}

.links	{
	margin-top: 4vw;
	opacity: 0;
}

.links a   {
	text-decoration: none;
	color: white;
}

.links i   {
	font-size: 1.9vw;
	margin-right: 1.4vw;
}

.links a:last-child	i	{
	margin-right: 0;
}

.fa-facebook:hover		{
	color: #3b5998;;
}

.fa-skype:hover		{
	color: #1686D9;
}

.fa-twitter:hover	{
	color: #1da1f2;
}

.fa-linkedin:hover	{
	color: #0077b5;
}

.fa-google-plus:hover	{
	color: red;
}

.fa-rss:hover	{
	color: #359feb;
}

.fa-instagram:hover	{
	color: darkred;
}

.fa-envelope:hover	{
	color: orange;
}

.play	{
	position: absolute;
	bottom: 1.5vw;
	left: 4vw;
	display: inline-block;
}

.play i	{
	font-size: 1.4vw;
	margin-right: 1.4vw;
	color: #1c92e9;
}

.play i:hover	{
	cursor: pointer;
	color: yellow;
}

.services	{
	padding-top: 5vw;
	padding-bottom: 5vw;
	text-align: center;
}

.services_middle	{
	width: 75vw;
	margin: 0 auto;
}

.site_general    {
	display: block;
	font-size: 2.8vw;
	color: #4e5050;
	margin-bottom: 1vw;
}

.latin	{
	font-size: 1.1vw;
	margin-top: 0;
	color: grey;
	margin-bottom: 3vw;
}

.margin_right	{
	margin-right: 1.8vw;
}

.margin_left	{
	margin-left: 1.8vw;
}

.container_services		{
	float: left;
	width: calc(33.33333333% - 3.6vw);
}

.mini_png img   {
	width: 4vw;
	height: 4vw;
	object-fit: contain;
}

.text_large		{
	font-size: 1.3vw;
	color: grey;
}

.text_small		{
	font-size: 1.1vw;
	color: grey;
	line-height: 1.7vw;
}

.div_gallery	{
	text-align: center;
	padding-top: 5vw;
	background-color: #e7e9ea;
	padding-bottom: 5vw;
}

.gallery_pics	{
	width: 75vw;
	margin: 0 auto;
	margin-top: 2vw;
}

.gallery_pics img   {
	float: left;
	height: 26vw;
	width: 33.33333333%;
	object-fit: cover;
}

.div_team	{
	text-align: center;
	padding-top: 5vw;
	padding-bottom: 5vw;
}

.team_container		{
	width: 75vw;
	margin: 0 auto;
}

.team_container div:last-child	{
	margin-right: 0;
}

.div_people		{
	float: left;
	width: 23.5%;
	margin-right: 2%;
}

.div_people img   {
	width: 100%;
	height: 20vw;
	object-fit: cover;
}

.name	{
	display: block;
	margin-top: 1.3vw;
	font-size: 1.4vw;
	color: grey;
}

.developer	{
	margin-top: 1vw;
	font-size: 1.2vw;
	font-weight: bold;
	color: grey;
	margin-bottom: 1vw;
}

.text_about		{
	font-size: 1.1vw;
	color: grey;
	line-height: 1.7vw;
}

.div_people a   {
	text-decoration: none;
	color: black;
}

.div_people i   {
	font-size: 1.2vw;
	margin-right: 1.7vw;
}

.div_people a:last-child i	{
	margin-right: 0;
}

.general_information	{
	padding-top: 5vw;
	background-color: #e7e9ea;
	text-align: center;
	padding-bottom: 5vw;
}

.container_information	{
	width: 75vw;
	margin: 0 auto;
}

.container_biography	{
	width: 50vw;
	float: left;
	text-align: left;
}

.container_biography p   {
	color: grey;
	font-size: 1.1vw;
	line-height: 1.7vw;
}

.text_information	{
	font-size: 1.5vw !important;
	line-height: inherit !important;
}

.container_info   {
	width: 23vw;
	margin-left: 2vw;
	float: left;
	text-align: left;
}

.container_info a   {
	text-decoration: none;
	color: inherit;
}

.container_info a:hover	{
	text-decoration: underline;
	color: darkorange;
}

.container_info i   {
	font-weight: bold;
	margin-right: 1vw;
}

.container_info p   {
	color: grey;
	font-size: 1.1vw;
}

.admin b	{
	color: #4deff7;
}

.admin b:hover	{
	color: darkorange;
}

.banner		{
	padding-top: 3vw;
	background-color: #4deff7;
	padding-bottom: 3vw;
}

.banner_container	{
	width: 75vw;
	margin: 0 auto;
}

.mini_banner	{
	float: left;
	margin-left: 6.1vw;
	margin-right: 6.1vw;
	text-align: center;
}

.mini_banner p   {
	font-size: 1.4vw;
	color: white;
	margin: 0;
}

.score	{
	font-size: 3.3vw !important;
}

.div_story	{
	padding-top: 3vw;
	padding-bottom: 3vw;
}

.story_container	{
	width: 75vw;
	margin: 0 auto;
}

.story_container div:last-child		{
	margin-right: 0;
}

.story   {
	margin-right: 2.5vw;
	float: left;
	width: calc(33.33333333% - 2.5vw);
}

.story_text   {
	margin-top: 0.3vw;
	width: 86%;
	float: left;
	font-size: 1.1vw;
	line-height: 1.7vw;
	color: grey;
	margin-bottom: 0.3vw;
}

.quote		{
	width: 14%;
	float: left;
	font-size: 2.6vw;
	color: silver;
}

.photo		{
	float: left;
}

.photo img	{
	width: 5vw;
	height: 5vw;
	object-fit: cover;
	border-radius: 50%;
}

.person_names	{
	margin-top: 0.8vw;
	margin-left: 0.8vw;
	float: left;
}

.person_names p	{
	margin: 0;
	font-size: 1.1vw;
	color: grey;
}

.names    {
	font-size: 1.4vw !important;
	color: #4e5050 !important;
	margin-bottom: 0.2vw !important;
}

.div_contact	{
	padding-top: 5vw;
	background: darkorange;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 5vw;
}

.div_form		{
	width: 33vw;
	margin: 0 auto;
}

.div_form input   {
	display: block;
	margin-bottom: 1.5vw;
	background: inherit;
	height: 1.5vw;
	width: 100%;
	border-style: solid;
	border-color: grey;
	border-width: 0.13vw;
	opacity: 0.5;
	font-size: 1.1vw;
	color: white;
	padding: 0;
	padding-left: 0.25vw;
	padding-right: 0.25vw;
	box-sizing: border-box;
}

.div_form input:last-child  {
	margin-bottom: 0;
	padding-bottom: 1.4vw;
}

.div_form textarea	{
	display: block;
	margin-bottom: 1.5vw;
	background: inherit;
	height: 14vw;
	width: 100%;
	border-style: solid;
	border-color: grey;
	border-width: 0.13vw;
	opacity: 0.5;
	font-size: 1.1vw;
	color: white;
	padding: 0;
	padding-left: 0.25vw;
	padding-right: 0.25vw;
	box-sizing: border-box;
}

.button_post		{
	width:  100%;
	color: white;
}

.button_post:hover	{
	cursor: pointer;
	background: #217d98;
	opacity: 1;
	color: lightgrey;
}

h1, h2, h3, h4, h5, h6,
button, input, select, textarea {
    font-family: 'Slabo 27px', serif;
}
::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
    font-family: 'Slabo 27px', serif;
	color: white;
  	font-size: 1.1vw;
}
:-moz-placeholder {  /* Firefox 18- */
    font-family: 'Slabo 27px', serif;
	color: white;
  	font-size: 1.1vw;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Slabo 27px', serif;
	color: white;
  	font-size: 1.1vw;
}
:-ms-input-placeholder {  /* IE 10+ */
    font-family: 'Slabo 27px', serif;
	color: white;
  	font-size: 1.1vw;
}

.div_footer		{
	padding-top: 1.7vw;
	background-color: black;
	padding-bottom: 1.7vw;
}

.footer_container	{
	width: 75vw;
	margin: 0 auto;
}

.footer_container span   {
	float: left;
	font-size: 0.8vw;
}

.div_links_footer	{
	float: right;
}

.div_links_footer a   {
	text-decoration: none;
	color: grey;
}

.div_links_footer i   {
	font-size: 0.9vw;
	margin-right: 0.8vw;
}

.div_links_footer a:last-child i  {
	margin-right: 0;
}

.fa-youtube:hover   {
	color: #fc020d;
}

.fa-pinterest:hover   {
	color: #be071c;
}