body	{
	margin: 0;
	padding: 0;
	font-family: 'Risque', cursive;
}

.clear	{
	clear: both;
}

.background1	{
	position: fixed;
	padding-top: 120px;
	padding-bottom: 310px;
	background: url('/web/img/home_craftbeer_menubg.jpg');
	background-repeat: repeat-y;
	background-size: cover;
}

.logo	{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img	{
	object-fit: contain;
	height: 100px;
	width: 100%;
}

.craftbeer   {
	display: flex;
	justify-content: center;
	align-items: center;
}

.craftbeer img  {
	object-fit: contain;
	height: 140px;
	width: 100%;
}

.menu	{
	margin-top: 100px;
	font-size: 22px;
}

.menu_list	{
	padding: 0;
	list-style: none;
}

.menu_list li  {
	text-align: center;
	line-height: 45px;
}

.menu_list a  {
	display: block;
	text-decoration: none;
	color: #9c9050;
	transition: all 0.2s linear;
}

.menu_list a:hover  {
	cursor: pointer;
	transform: scale(1.4);
	color: #f6da41;
}

.background2	{
	position: relative;
	padding-top: 200px;
	padding-bottom: 850px;
	padding-left: 0;
	padding-right: 0;
	background: url('/web/img/home_craftbeer_slider_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.background2 p  {
	font-size: 60px;
	font-weight: 900;
	color: white;
	line-height: 55px;
	opacity: 0.8;
}

.bottle	img {
	object-fit: contain !important;
	position: absolute !important;
	width: 15% !important;
	bottom: 60px !important;
	right: 42.5% !important;
}

.wood_planks img	{
	position: absolute;
	object-fit: cover;
	width: 100%;
	bottom: 0;
}

.background3	{
	background: url('/web/img/home_craftbeer_sectionbg2.jpg'), url('/web/img/home_craftbeer_sectionbg1.jpg');
	background-color: #362722;
	background-position: bottom, top;
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom: 150px;
}

.art	{
	margin-top: 330px;
	font-weight: 900;
	font-size: 43px;
	color: #deaa4f;
	line-height: 55px;
	opacity: 0.6;
	margin-bottom: 20px;
}

.white	{
	color: white;
}

.margin   {
	margin-top: 45px; 
}

.brewery	{
	font-size: 28px;
	color: #deaa4f;
	margin-bottom: 30px;
	opacity: 0.6;
}

.cellar		{
	border: 5px solid #deaa4f;
}

.cellar img   	{
	object-fit: cover;
	width: 100%;
	height: 320px;
}

.mauris		{
	margin-top: 45px;
	font-size: 17.5px;
	color: #bf9c6a;
}

.read_more	{
	margin-top: 40px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	border-bottom: 2px solid gold;
}

.read_more p 	{
	font-size: 16px;
	margin-bottom: 0;
}

.beer   {
	margin-top: 50px;
}

.beer img {
	object-fit: cover;
	width: 100%;
	height: 440px;
}

.div_icons	{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: silver;
	font-size: 18px;
}

.div_icons i:first-child  {
	color: gold;
	margin-right: 20px;
}

.discover	{
	margin: 0 auto;
	margin-top: 40px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	border-bottom: 2px solid gold;
}

.discover p   {
	font-size: 16px;
	margin-bottom: 0;
}

.div_arrow	{
	display: inline-block;
}

.div_arrow i   {
	color: gold;
	font-size: 17px;
}

.symbol	img   {
	position: absolute;
	bottom: -39px;
	right: 47%;
	object-fit: cover;
	width: 75px;
	height: 75px;
	z-index: 1;
}

.background4	{
	border-top: 4px solid #deaa4f;
	background-color: #362722;
}

.margin_top1	{
	padding-top: 75px;
	padding-bottom: 100px;
}

.background5	{
	background-color: #362722;
}

.margin_top2	{
	border-top: 1px solid grey;
	padding-top: 10px;
	padding-bottom: 35px;
}

