body  {
	margin: 0;
	padding: 0;
	font-family: 'Sedgwick Ave Display', cursive;
}

.clear  {
	clear: both;
}

.background  {
	background: url('/web/img/earth.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.div_header  {
	border-bottom: 2px solid silver;
}

.div_planet  {
	margin-top: 40px;
	margin-bottom: 25px;
	float: left;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_planet i  {
	color: lightgreen;
	font-size: 40px;
	margin-right: 15px;
	float: left;
}

.div_planet span  {
	display: block;
}

.oblique  {
	font-style: oblique;
	font-size: 25px;
	color: lightgreen;
}

.thickened  {
	font-size: 25px;
	font-weight: 900;
	color: white;
	margin-left: 10px;
}

.div_menu  {
	margin-top: 50px;
	float: right;
}

.div_options  {
	float: left;
	font-size: 18px;
	color: white;
	margin-right: 35px;
	margin-top: 13px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_options i  {
	display: block;
	float: right;
	margin-left: 10px;
	font-size: 10px;
}

.div_options:hover  {
	cursor: pointer;
	color: lightgreen;
}

.div_icon  {
	margin-top: 14px;
	margin-right: 20px;
	float: left;
}

.div_icon .fa:hover  {
	cursor: pointer;
	color: lightgreen;
}

.div_icon i  {
	color: silver;
	font-size: 18px;
}

.div_icons  {
	float: left;
	position: relative;
	margin-right: 20px;
}

.div_icon_absolute  {
	position: absolute;
	font-size: 16px;
	top: 4px;
	right: 13px;
	color: darkorange;
}

.div_donate  {
	float: left;
	font-size: 16px;
	padding: 9px;
	padding-top: 12px;
	padding-left: 22px;
	padding-right: 22px;
	color: white;
	font-weight: 600;
	border-radius: 30px;
	border: 2px solid white;
	transition: all 0.2s ease;
}

.div_donate:hover  {
	cursor: pointer;
	transform: rotate(360deg) scale(1.5);
	background: lightgreen;
	color: orange;
}

.div_symbols  {
	margin-top: 210px;
	float: left;
}

.fa-dot-circle-o  {
	color: white !important;
}

.div_symbols i  {
	color: silver;
}

.div_cargo  {
	font-size: 60px;
	font-weight: 900;
	color: white;
	margin-top: 160px;
	margin-left: 90px;
}

.good_planet  {
	line-height: 65px;
	color: darkorange;
}

.history  {
	font-size: 24px;
	font-weight: normal;
	margin-top: 60px;
	color: red;
}

.div_more  {
	float: left;
	font-size: 15px;
	font-weight: 600;
	padding: 10px;
	padding-left: 34px;
	padding-right: 34px;
	color: orange;
	border-radius: 30px;
	border: 2px solid orange;
	margin-top: 55px;
	transition: all 0.5s ease-in-out;
}

.div_more:hover  {
	cursor: pointer;
	transform: rotate(360deg) scale(1.5);
	background: lightgreen;
}

.div_join  {
	margin-top: 100px;
	background-color: orange;
	padding-right: 0;
	padding-left: 0;
}

.div_join p  {
	margin-top: 24px;
	font-size: 20px;
	color: #183b62;
}

.div_logo  {
	padding: 10px;
	padding-top: 13px;
	padding-left: 22px;
	padding-right: 22px;
	margin-right: 45px;
	box-sizing: border-box;
	float: left;
	font-size: 35px;
	color: white;
	background-color: darkorange;
}

.padding0  {
	padding: 0;
}

.div_today  {
	margin-top: 200px;
	float: left;
	font-size: 50px;
	color: #183b62;
	line-height: 60px;
}

.span_green  {
	display: block;
	font-size: 21px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: green;
}

.div_ways  {
	float: left;
	color: grey;
	font-size: 19px;
	margin-top: 25px;
	margin-bottom: 50px;
}

.div_video  {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_video p  {
	color: #183b62;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0;
}

.div_play  {
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	font-size: 15px;
	border: 1px solid #183b62;
	margin-right: 15px;
 	transition: all 0.5s linear;
}

.div_play i  {
	margin-top: 18px;
	margin-left: 21px;
}

.div_play:hover  {
	cursor: pointer;
	transform: rotate(360deg) scale(1.5);
	background: lightgreen;
}

.div_find  {
	float: left;
	font-size: 18px;
	padding: 9px;
	padding-left: 33px;
	padding-right: 33px;
	padding-top: 13px;
	margin-left: 30px;
	color: #183b62;
	border-radius: 30px;
	background-color: orange;
	transition: all 0.5s linear;
}

.div_find:hover  {
	cursor: pointer;
	transform: rotate(360deg);
	background: lightgreen;
}

.div_bear  {
	background: url('/web/img/bear.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 210px;
	padding-bottom: 200px;
}

.div_rgba1  {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(8, 47, 75, 0.8);
	height: 100%;
	width: 100%;
}

.div_change  {
	position: relative;
	color: white;
	font-size: 40px;
	margin-left: 65px;
	font-weight: 900;
	line-height: 50px;
}

.div_water  {
	position: relative;
	color: white;
	font-size: 18px;
	margin-top: 70px;
	margin-left: 65px;
}

.difference  {
	position: relative;
	font-size: 18px;
	color: darkorange;
	display: block;
	margin-top: 50px;
	margin-left: 65px;
}

.background2  {
	background-color: #e1ddc2;
	padding-top: 150px;
	padding-bottom: 150px;
}

.div_campaign i  {
	font-size: 50px;
	color: orange;
	margin-bottom: 30px;
}

.div_campaign span  {
	font-size: 16px;
	color: orange;
}

.div_donation i  {
	font-size: 50px;
	color: green;
	margin-bottom: 30px;
}

.div_donation span  {
	font-size: 16px;
	color: green;
}

.div_volunteer i  {
	font-size: 50px;
	color: darkred;
	margin-bottom: 30px;
}

.div_volunteer span  {
	font-size: 16px;
	color: darkred;
}

.div_event i  {
	font-size: 50px;
	color: darkblue;
	margin-bottom: 30px;
}

.div_event span  {
	font-size: 16px;
	color: darkblue;
}

.span_banner  {
	display: block;
	font-size: 35px !important;
	color: #183b62 !important;
	margin-bottom: 18px;
	line-height: 45px;
}

.div_text_banner  {
	margin-bottom: 30px;
	color: grey;
	font-size: 16px;
}

.background3  {
	background: url('/web/img/Hand-in-hand.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
}

.volunteer  {
	font-size: 50px;
	font-weight: 700;
	color: white;
}

.workshop  {
	font-size: 24px;
	color: white;
	margin-bottom: 15px;
}

.span_timer  {
	display: block;
	font-size: 55px;
	color: white;
	font-weight: 700;
	margin-bottom: 0;
}

.text_timer  {
	font-size: 24px;
	color: white;
	margin-right: 10px;
}

.div_email  {
	margin-top: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hollow_email  {
	background: none;
	color: yellow;
	font-size: 18px;
	height: 55px;
	padding: 10px 40px;
	border: 2px solid white;
	border-radius: 0;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.notify  {
	height: 55px;
	background: orange;
	color: white;
	font-size: 18px;
	padding-left: 40px;
	padding-right: 40px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.div_us  {
	padding-top: 300px;
	padding-bottom: 250px;
	background: url('/web/img/together.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.div_rgba2  {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(9, 137, 114, 0.7);
	height: 100%;
	width: 100%;
}

.div_better  {
	position: relative;
	color: white;
	font-size: 40px;
	font-weight: 900;
	line-height: 50px;
}

.div_water2  {
	position: relative;
	color: white;
	font-size: 18px;
	margin-top: 30px;
}

.join_us  {
	display: block;
	color: orange;
	position: relative;
	font-size: 19px;
	margin-top: 45px;
}

.padding1  {
	padding-top: 200px;
}

.padding2  {
	margin-top: 50px;
}

.fundraising  {
	margin-left: 8%;
	color:  #183b62;
	float: left;
}

.div_img img  {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.text_color  {
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #183b62;
	float: left;
}

.donated  {
	color: grey;
	float: left;
	font-size: 18px;
}

.percent  {
	color: grey;
	float: right;
	font-size: 18px;
}

.div_orange  {
	height: 3px;
	background: orange;
}

.div_grey  {
	height: 3px;
	background: lightgrey;
}

.money  {
	margin-top: 15px;
	color: silver;
	font-size: 20px;
}

.div_dots	{
	margin-top: 50px;
	font-size: 19px;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_dots i:first-child  {
	font-size: 15px;
	color: lightgrey;
	margin-right: 5px;
	margin-top: 2px;
}

.background4  {
	padding-top: 200px;
	padding-bottom: 200px;
	background: url('/web/img/mountain.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.div_rgba3  {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(228, 55, 27, 0.9);
	height: 100%;
	width: 100%;
}

.div_round_pic  {
	float: left;
	height: 234px;
	width: 234px;
	border-radius: 50%;
	background: url('/web/img/recycle.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.div_think_green  {
	padding: 0;
}

.to_go  {
	font-size: 20px;
	color: orange;
	margin-bottom: 0;
}

.mean_green  {
	font-size: 35px;
	color: white;
}

.text_white  {
	font-size: 18px;
	color: white;
	margin-bottom: 25px;
}

.donate_now  {
	float: left;
	padding: 8px;
	padding-left: 35px;
	padding-right: 35px;
	font-size: 16px;
	color: white;
	border: 2px solid orange;
	border-radius: 30px;
	transition: all 0.3s linear;
}

.donate_now:hover  {
	cursor: pointer;
	transform: scale(1.5);
	background: orange;
}

.div_percentage  {
	padding: 0;
	margin-top: 40px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 4px solid orange;
}

.fourty  {
	font-size: 48px;
	color: white;
	margin-top: 30px;
	margin-bottom: -15px;
}

.donate_single  {
	font-size: 16px;
	color: white;
}

.div_photos img  {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.div_photo img  {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.background5  {
	padding-top: 200px;
	padding-bottom: 200px;
	background: url('/web/img/Industry.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.div_rgba4  {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(64, 68, 69, 0.7);
}

.text_110  {
	position: relative;
	font-size: 31px;
	color: white;
	margin-bottom: 75px;
}

.text_yellow  {
	font-size: 55px;
	color: yellow;
	margin-bottom: -5px;
}

.text_middle  {
	color: white;
	font-size: 22px;
	font-weight: 700;
}

.text_white2  {
	font-size: 19px;
	color: white;
	margin-top: 30px;
}

.text_news  {
	font-size: 40px;
	color: #183b62;
	margin-top: 200px;
	margin-bottom: 50px;
}

.div_pics img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.text_blue {
	margin-top: 20px;
	font-size: 23px;
	color: #183b62;
}

.stamp {
	font-size: 19px;
	color: orange;
}

.text_ipsum {
	font-size: 17px;
	color: grey;
}

.div_dots2	{
	margin-top: 75px;
	color: silver;
	margin-bottom: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_dots2 i:first-child  {
	font-size: 19px;
	color: grey;
	margin-right: 5px;
}

.div_dots2 i:last-child	{
	margin-top: 1px;
}

.background6 {
	padding-top: 250px;
	padding-bottom: 250px;
	background: url('/web/img/mountain.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.text_cool {
	font-size: 50px;
	color: #183b62;
	margin-bottom: 30px;
	line-height: 55px;
}

.text_race	{
	font-size: 18px;
	color: yellow;
}

.div_now  {
	float: left;
	font-size: 17px;
	color: #183b62;
	margin-top: 20px;
	padding: 12px;
	padding-top: 16px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 30px;
	transition: all 0.3s linear;
}

.div_now:hover		{
	cursor: pointer;
	transform: rotate(360deg);
	background: yellow;
}

.div_find_more  {
	float: left;
	font-size: 17px;
	color: #183b62;
	margin-top: 20px;
	padding: 12px;
	padding-top: 16px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 30px;
	transition: all 0.3s linear;
}

.div_find_more:hover	{
	cursor: pointer;
	transform: rotate(360deg);
	background: yellow;
}

.background7	{
	padding-top: 55px;
	padding-bottom: 45px;
	background: #bcbc5b;
}

.text_hotline	{
	font-size: 30px;
	color: white;
	margin-bottom: 0;
}

.div_footer {
	padding-top: 100px;
	padding-bottom: 30px;
	background: #eded9d;
}

.div_emblem i {
	margin-left: 15%;
	font-size: 120px;
	color: #183b62;
}

.div_emblem	span  {
	font-size: 35px;
	color: #183b62;
}

.oblique2	{
	margin-right: 12px;
	font-style: oblique;
}

.text_footer {
	font-size: 25px;
	color: #183b62;
	margin-bottom: 15px;
}

.text_contact {
	font-size: 16px;
	color: grey;
	margin-bottom: 4px;
}

.text_contact:hover	{
	cursor: pointer;
	color: darkorange;
}

.div_border {
	padding-top: 100px;
	margin-bottom: 35px;
	border-bottom: 1px solid silver;
}

.text_copyright  {
	float: left;
	color: grey;
	margin-left: 15px;
	margin-bottom: 0;
}

.div_jumps	{
	float: right;
}

.div_jumps i  {
	font-size: 20px;
	margin-right: 15px;
}

.div_jumps a  {
	text-decoration: none;
	color: grey;
}

.fa-facebook:hover	{
	color: #0060DF;
}

.fa-twitter:hover	{
	color: #1da1f2;
}

.fa-youtube-play:hover	{
	color: red;
}

.fa-instagram:hover	{
	color: darkred;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}