body	{
	margin: 0;
	padding: 0;
}

.same	{
	width: calc(25% - 4px);
	float: left;
	border: 2px solid red;
}

.title_inner	{
	font-size: 20px;
	font-weight: 600;
}

.imagine_produs img   {
	width: 250px;
}

.titlu_produs, .parinte_produs, .link_produs, .imagine_produs,	{
	border-bottom: 2px solid grey;
}

.sss	{
	width: 25%;
	float: left;
}

.descriere_lunga	{
	display: none;
}

.citeste_mai_putin	{
	display: none;
}

.citeste_mai_mult:hover	{
	cursor: pointer;
	color: red;
}

.citeste_mai_putin:hover	{
	cursor: pointer;
	color: red;
}