body {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.background {
	position: relative;
	background: url('/web/img/working.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 150px;
}

.background2 {
	position: relative;
	background: url('/web/img/working2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 150px;
}

.div_rgba {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(12, 12, 12, 0.8);
	height: 100%;
	width: 100%;
}

.div_rgba2 {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(12, 12, 12, 0.5);
	height: 100%;
	width: 100%;
}

.div_left {
	position: relative;
	float: left;
	padding: 5px;
	padding-top: 20px;
	box-sizing: border-box;
}

.logo {
	color: red;
	float: left;
	font-size: 25px;
	font-family: Arial;
}

.link {
	float: left;
	color: white;
	margin-left: 20px;
	padding: 5px;
	padding-top: 8px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 13px;
}

.link p:hover {
	color: lightgreen;
	cursor: pointer;
}

.link a {
	color: white;
	text-decoration: none;
	padding-bottom: 3px;
}

.div_right {
	position: relative;
	float: right;
	padding: 5px;
	padding-top: 18px;
	box-sizing: border-box;
}

.log_in {
	float: left;
	color: white;
	border: 1px solid white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	box-sizing: border-box;
	font-family: Arial;
	font-size: 13px;
	margin-right: 35px;
}

.log_in:hover {
	cursor: pointer;
	color: darkred;
	background: orange;
}

.div_language {
	float: left;
	color: white;
	margin-right: 15px;
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_language p {
	color: orange;
	margin-bottom: 0;
}

.div_language i {
	font-size: 25px;
	margin-right: 7px;
}

.div_language i:hover {
	cursor: pointer;
	color: lightgreen;
}

.div_features {
	position: relative;
	color: white;
	font-size: 40px;
	padding-top: 120px;
	font-family: Arial;
}

.website_features {
	margin: 0 auto;
	margin-top: 65px;
	margin-bottom: 10px;
	text-align: center;
}

.span_grey {
	font-size: 30px;
	color: silver;
	margin-right: 7px;
}

.span_normal {
	font-size: 30px;
}

.red_line {
	margin: 0 auto;
	width: 65px;
	height: 3px;
	background-color: darkred;
}

.long_span {
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 85px;
}

.text_grey {
	font-size: 17px;
	color: grey;
}

.text_normal {
	font-size: 17px;
	font-weight: 600;
}

.div_awesome {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_awesome i {
	font-size: 75px;
	color: darkred;
}

.dark_text {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 15px;
}

.div_all {
	margin-bottom: 75px;
}

.div_all p {
	color: grey;
}

.div_allq {
	margin-bottom: 105px;
}

.div_allq p {
	color: grey;
}

.container_service {
	width: 90%;
	padding: 0;
}

.div_payment {
	background-color: darkred;
	float: left;
	margin-right: 15px;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: white;
	margin-top: 55px;
	margin-bottom: 20px;
}

.div_payment:hover {
	cursor: pointer;
}

.general_use {
	background-color: #f6f3ed;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	margin-top: 55px;
	margin-bottom: 20px;
}

.general_use:hover {
	cursor: pointer;
	background: orange;
	color: darkred;
}

.div_faq {
	padding: 15px;
	padding-left: 0;
	border-bottom: 1px solid silver;
	color: grey;
	text-align: left;
}

.div_faq p {
	margin-bottom: 0;
	font-weight: 600;
	font-size: 13px;
}

.div_faq p:hover {
	cursor: pointer;
	color: darkred;
}

.div_email {
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_email p {
	margin-bottom: 0;
	color: grey;
	margin-right: 2px;
}

.div_email span {
	color: darkred;
	font-weight: 600;
}

.div_general1 {
	margin-top: 20px;
	text-align: center;
}

.div_general1 p {
	margin-bottom: 0;
	color: grey;
}

.div_general2 {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 110px;
}

.div_general2 span {
	font-weight: 600;
}

.div_general2 p {
	margin-bottom: 0;
	color: grey;
}

.div_general2 a {
	text-decoration: none;
	color: black;
}

.footer_background {
	background-color: #333;
	padding-top: 30px;
	padding-bottom: 65px;
}

.div_logo {
	font-size: 19px;
	color: white;
	margin-bottom: 10px;
}

.red_line2 {
	float: left;
	width: 65px;
	height: 3px;
	background-color: darkred;
}

.div_text {
	margin-top: 50px;
	text-align: left;
	color: white;
	font-size: 11px;
	font-weight: 600;
}

.div_icons {
	margin-top: 30px;
}

.div_icons i {
	color: white;
	font-size: 25px;
	margin-right: 15px;
}

.div_span {
	margin-top: 50px;
}

.div_span span {
	color: white;
	font-size: 13px;
	font-weight: 600;
	display: block;
	padding-bottom: 10px;
}

.fa-facebook:hover {
	color: #0060DF;
}

.fa-youtube-play:hover {
	color: red;
}

.fa-twitter:hover {
	color: #1da1f2;
}

.fa-linkedin:hover {
	color: #0084bf;
}

.span_hover:hover {
	color: lightgreen;
	cursor: pointer;
}

.div_padding {
	padding-left: 40px;
	padding-right: 40px;
}

.services_page .customer_service a {
	border-bottom: 1px solid white;
}

.php_page .features  a {
	border-bottom: 1px solid white;
}

 .customer_service a:hover {
	color: lightgreen;
}

.services_page .customer_service a:hover {
	color: white;
}

.features a:hover {
	color: lightgreen;
}

.php_page .features a:hover {
	color: white;
}