body {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.div_top {
	width: 100%;
}

.div_contain_top {
	width: 70%;
	margin: 0 auto;
}

.div_logo {
	height: 40px;
	color: orange;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	box-sizing: border-box;
}

.div_logo i {
	margin-right: 4px;
}

.div_home {
	height: 40px;
	float: right;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	padding: 5px;
	box-sizing: border-box;
}

.div_products {
	height: 40px;
	float: right;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	padding: 5px;
	box-sizing: border-box;
}

.div_services {
	height: 40px;
	float: right;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	padding: 5px;
	box-sizing: border-box;
}

.div_services i {
	margin-left: 4px;
	margin-top: 15%;
}

.div_my_account {
	height: 40px;
	float: right;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	padding: 10px;
	box-sizing: border-box;
}

.div_my_cart {
	height: 40px;
	float: right;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	box-sizing: border-box;
}

.div_my_cart i {
	margin-right: 5px;
}

.hover:hover {
	cursor: pointer;
	background: silver;
}

.div_middle1{
	width: 100%;
	background-image: url(/web/img/web3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.div_container_middle1 {
	width: 70%;
	height: 370px;
	margin: 0 auto;
}

.div_big_text {
	width: 100%;
	float: left;
	height: 120px;
	color: white;
	font-size: 90px;
	font-family: arial;
	margin-top: 70px;
	margin-bottom: 10px;
}

.div_container_middle1 span {
	font-size: 20px;
	color: red;
	font-family: arial;
}

.div_engage {
	padding: 10px;
	box-sizing: border-box;
	background: orange;
	color: white;
	border-radius: 5px;
	float: left;
	margin-top: 30px;
}

.hover2:hover {
	cursor: pointer;
	background: lightblue;
}

.div_middle2 {
	width: 100%;
	height: 240px;
	text-align: center;
	padding: 60px;
	box-sizing: border-box;
}

.div_middle2 span {
	font-family: Arial;
	font-size: 40px;
	color: orange;
}

.div_text {
	width: 50%;
	margin: 0 auto;
	font-family: Arial;
	font-size: 15px;
	color: grey;
}

.div_footer {
	width: 100%;
}

.div_unleash {
	background: url(/web/img/food.jpg);
	width: 33.28%;
	height: 240px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Arial;
	font-size: 50px;
	float: left;
	margin-bottom: 100px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.div_synergize {
	background: url(/web/img/coffee.jpg);
	width: 33.28%;
	height: 240px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Arial;
	font-size: 50px;
	float: left;
	margin-bottom: 100px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.div_procrastinate {
	background: url(/web/img/grape.jpg);
	width: 33.28%;
	height: 240px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Arial;
	font-size: 50px;
	float: left;
	margin-bottom: 100px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}