body {
	margin: 0;
	padding: 0;
	background: silver;
}

.div_head {
	width: 100%;
	background: black;
	height: 50px;
	margin-top: 100px;
}

.div_head_container {
	width: 60%;
	height: 50px;
	margin: 0 auto;
}

.container_logo {
	float: left;
	height: 50px;
}

.div_logo_pic {
	width: 45px;
	height: 50px;
	background: url('/web/img/Music.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
}

.div_logo {
	height: 50px;
	float: left;
	font-size: 25px;
	font-style: bold;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	text-align: center;
}

.div_hover:hover {
	cursor: pointer;
	background: grey;
}

.div_about {
	height: 50px;
	font-size: 25px;
	font-style: bold;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	color: white;
	text-align: center;
}

.div_services {
	height: 50px;
	font-size: 25px;
	padding: 10px;
	box-sizing: border-box;
	font-style: bold;
	float: left;
	color: white;
	text-align: center;
}

.div_portfolio {
	height: 50px;
	font-size: 25px;
	font-style: bold;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	color: white;
	text-align: center;
}

.div_contact {
	height: 50px;
	font-size: 25px;
	font-style: bold;
	padding: 10px;
	box-sizing: border-box;
	float: right;
	color: white;
	text-align: center;
}

.clear {
	clear: both;
}

.div_middle1 {
	width: 100%;
	background: white;
}

.div_sub_middle1 {
	width: 60%;
	margin: 0 auto;
}

.div_poza {
	width: calc(25% - 10px);
	margin-right: 13.3px;
	float: left;
	color: purple;
	font-size: 20px;
}

.div_poza4 {
	margin-right: 0px;
}

.div_pic1 {
	width: 100%;
	height: 160px;
	margin-bottom: 5px;
	margin-top: 5px;
	background: url('/web/img/web1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
}

.div_pic2 {
	width: 100%;
	height: 160px;
	margin-bottom: 5px;
	margin-top: 5px;
	background: url('/web/img/web2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
}

.div_pic3 {
	width: 100%;
	height: 160px;
	margin-bottom: 5px;
	margin-top: 5px;
	background: url('/web/img/web3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
}

.div_pic4 {
	width: 100%;
	height: 160px;
	margin-bottom: 5px;
	margin-top: 5px;
	background: url('/web/img/web4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
}

.div_text {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	color: black;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	background-size: contain;
	float: left;
}

.div_scroll {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}

.div_case {
	width: 30px;
	height: 30px;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-top: 40px;
	margin-bottom: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
}

.div_case:first-child {
	border-left: 1px solid;
}

.div_hover2:hover {
	color: white;
	background: lightblue;
	cursor: pointer;
}

.div_middle2 {
	background: lightblue;
	width: 100%;
}

.div_sub_middle2 {
	width: 60%;
	margin: 0 auto;
}

.div_container {
	width: 33%;
	color: purple;
	font-size: 20px;
	margin-bottom: 60px;
	margin-top: 60px;
	float: left;
}

.div_container_middle {
	width: 33%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	float: left;
}

.div_pic_my_stuff {
	width: 100px;
	height: 100px;
	background: url('/web/img/orangutan.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.div_pic_your_stuff {
	width: 100px;
	height: 100px;
	background: url('/web/img/whitetiger.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.div_pic_our_stuff {
	width: 100px;
	height: 100px;
	background: url('/web/img/puppy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.div_container span {
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_text_stuff {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	color: black;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	background-size: contain;
	text-align: center;
	float: left;
}

.div_more_stuff {
	width: 30%;
	height: 30px;
	background: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	color: white;
	margin: 0 auto;
	font-size: 15px;
}

.div_more_stuff:hover {
	cursor: pointer;
	background: grey;
}

.div_footer {
	width: 100%;
	height: 100px;
	background: white;
	margin-bottom: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}