body {
	padding:0;
	margin:0;
}

.clasa {
	font-size:20px;
	font-weight:600;
	color:red;
	background:green;
	width:100px;
	height:100px;
	float:left;
}

.clasa.clasa1 {
	background:purple;
}

.div .clasa3 {
	background:blue;
}

.div .clasa2 {
	background:orange;
}

h1 {
	font-size:90px;
	color:yellow;
}

a {
	text-decoration:none;
	text-transform:uppercase;
	font-weight:600;
	color:#c6c6c6;
}

span {
	display:block;
}