body {
	margin: 0;
	padding: 0;
}

.div_head {
	background: green;
	width: 100%;
	height: 100px;
	margin-top: 50px;
	margin-bottom: 10px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}

.div_general1 {
	width: 25%;
	height: 400px;
	float: left;
}

.div_new {
	background: green;
	height: 250px;
	padding: 10px;
	box-sizing: border-box;
}

.div_ads {
	background: green;
	height: 140px;
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
}

.div_general2 {
	float: left;
	width: 74.3%;
	height: 400px;
	margin-left: 0.7%;
}

.div_article {
	background: green;
	height: 320px;
	margin-bottom: 10px;
	padding: 10px;
	box-sizing: border-box;
}

.div_footer {
	background: green;
	height: 70px;
	padding: 10px;
	box-sizing: border-box;
}

