body {
	margin: 0;
	padding: 0;
}

.header_top {
	width: 100%;
}

.header960 {
	width: 960px;
	margin: 0 auto;
}

.telefon {
	float:left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.telefon i {
	margin-right: 5px;
}

.div_dot {
	float: left;
	font-size: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_dot i {
	margin-top: 18px;
}

.clear {
	clear: both;
}

.about {
	float: left;
	color: silver;
    padding: 10px;
    box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about i {
	font-size: 13px;
	margin-right: 3px;
}

.about:hover {
	cursor: pointer;
	background: lightgreen;
}

.english {
	color: black;
}

.english i {
	margin-left: 5px;
}

.english img {
	margin-right: 10px;
}

.mail {
	float: left;
	font-family: Arial;
	font-size: 15px;
	padding-top: 11px;
	padding-bottom: 10px;
	padding-left: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mail a {
	color: silver !important;
}

.header_left {
	float: left;
}

.header_right {
	float:right;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 40px;
	background: black;
}

.logo span {
	font-weight: 600;
	font-size: 30px;
	font-family: Arial;
	margin-top: 5px;
}

.header1 {
	border-bottom: 1px solid #ddd;
}

.header2 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.flag {
	    width: 20px;
    height: 13px;
    object-fit: cover;
}

.home {
	color: grey;
}

.about2 i {
	margin-left: 2px;
	margin-top: 2px;
}

.cos, .search {
	background: #ddd;
	margin-top: 3px;
	margin-left: 10px;
}

.header3 {
	height: 460px;
	background:url('/web/img/sea.jpg') no-repeat center center;
	background-size: cover;
}

.title{
	font-size: 60px;
	color: orange;
	font-weight: 900;
	font-family: Arial;
}

.continut_title {
	color: yellow;
	font-size: 22px;
}

.continut_title span {
	color: orange;
}

.read_more {
	display: block;
	color: red;
	text-decoration: none;
	font-size: 21px;
}

.slider_left {
	width: 47%;
	float: left;
	padding-top: 50px;
}

.slider_right {
	width: 47%;
	float: left;
	padding-top: 50px;
	margin-left: 6%;
}

.slider_right img {
	width: 100%;
    height: 355px;
    object-fit: cover;
}

.container110 {
	margin-right: 10px;
	float: left;
}

.container_fully {
	float: left;
	margin-top: 17px;
}

.ct110 {
	font-size: 50px;
	font-family: Arial;
	color: lightgreen;
	font-weight: 900;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.html {
	font-size: 20px;
	font-family: Arial;
    color: white;
    font-weight: 900;
    background: lightgreen;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.html:hover {
	cursor: pointer;
	background: grey;
}

.fully	{
	font-size: 24px;
	color: orange;
	font-family: Arial;
}

.responsive {
	margin-left: 6px;
	font-size: 24px;
	color: orange;
	font-weight: 900;
	font-family: Arial;
}

.html2 {
	font-size: 20px;
	font-family: Arial;
    color: #fff;
    font-weight: 900;
    background: orange;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
	margin-top: 10px;
}

.html2:hover {
	cursor: pointer;
	background: grey;
}

.header1 a {
	color:#000;
	text-decoration:none;
}

.mobile {
	border-left: 1px solid #ddd;
	display: none;
}

.meniu {
	float:left;
}

.hamburger {
	display: none;
}

.div_welcome {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 60px;
	text-align: center;
}

.div_welcome p {
	font-size: 14px;
	font-family: Arial;
	margin: 0;
}

.welcome {
	font-size: 40px;
	font-family: Arial;
	font-weight: 800;
	color: black;
	margin-right: 12px;
}

.atropos {
	font-size: 40px;
	font-family: Arial;
	color: grey;
}

.div_line_left {
	width: 32.5%;
	height: 3px;
	margin-left: 16%;
	float: left;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.div_star {
	width: 3%;
	height: 20px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	color: grey;
}

.div_star i {
	margin-bottom: 15px;
	font-size: 21px;
}

.div_line_right {
	width: 32.5%;
	height: 3px;
	margin-right: 16%;
	float: left;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.div_text_middle {
	width: 68%;
	margin-left: 16%;
	margin-top: 70px;
	margin-bottom: 70px;
	font-family: Arial;
	font-size: 24px;
	color: grey;
}

.div_line_bottom {
	width: 68%;
	height: 2px;
	margin: 0 auto;
	border-top: 1px solid grey;
	margin-bottom: 70px;
}

.div_container_middle {
	width: 100%;
}

.div_container {
	width: 68%;
	margin: 0 auto;
}

.div_mini_container {
	width: 30%;
	height: 100px;
	float: left;
	margin-bottom: 60px;
}

.div_mini_container a  {
	text-decoration: none;
	color: black;
}

.div_mini_container2 {
	width: 30%;
	height: 100px;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 60px;
}

.div_mini_container2 a  {
	text-decoration: none;
	color: black;
}

.div_icon{
	margin-right: 17px;
	background: red;
	width: 30px;
	height: 30px;
	color: white;
	border-radius: 50%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_mini_container span {
	display: block;
	font-weight: 600;
	font-size: 20px;
	margin-top: 4px;
}

.div_mini_container2 span {
	display: block;
	font-weight: 600;
	font-size: 20px;
	margin-top: 4px;
}

.div_text {
	color: grey;
}

.div_middle {
	width: 100%;
	height: 700px;
	margin-top: 70px;
	background: url('/web/img/web2.jpg') no-repeat center center;
	background-size: cover;
}

.div_left {
	width: 32.5%;
	height: 400px;
	padding-top: 150px;
	padding-bottom: 50px;
	padding-left: 16%;
	padding-right: 1.5%;
	float: left;
}

.div_left span {
	font-family: Arial;
	font-size: 40px;
	color: white;
	margin-right: 15px;
}

.multipurpose	{
	font-weight: 900;
}

.atropos_text {
	font-family: Arial;
	padding-top: 20px;
	color: white;
	font-size: 20.5px;
}

.lorem_ipsum_text {
	color: white;
	font-size: 14px;
	padding-top: 10px;
}

.oblique_text {
	color: white;
	font-size: 13px;
	font-style: oblique;
	padding-top: 10px;
}

.div_more {
	width: 32%;
	height: 11%;
	margin-top: 50px;
	font-family: Arial;
	font-size: 20px;
	font-weight: 600;
	color: white;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	padding: 5px;
	text-align: center;
}

.div_more:hover {
	cursor: pointer;
	background: silver;
}

.div_right {
	width: 32.5%;
	padding-top: 150px;
	padding-bottom: 50px;
	padding-right: 16%;
	padding-left: 1.5%;
	float: left;
}

.div_right img {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.div_cell_top {
	width: 68%;
	height: 70px;
	margin: 0 auto;
	margin-top: 130px;
}

.div_cell_bottom {
	width: 68%;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 130px;
}

.div_cell {
	width: 68%;
	margin: 0 auto;
}

.big_icon {
	background: red;
	width: 90px;
	height: 90px;
	margin-bottom: 60px;
	margin-top: 10px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
}

.big_icon i {
	font-size: 40px;
	color: white;
}

.big_text {
	width: 89%;
	height: 90px;
	margin-left: 4%;
	margin-bottom: 60px;
	margin-top: 10px;
	float: left;
}

.span_middle {
	font-size: 25px;
}

.big_text p {
	font-size: 17px;
	font-family: Arial;
	font-weight: 600;
	color: grey;
}

.div_recent_work {
	background: lightgrey;
	width: 100%;
	padding-top: 125px;
	padding-bottom: 125px;
}

.content_recent_work {
	width: 68%;
	height: 400px;
	margin: 0 auto;
}

.content_recent_work span {
	font-family: Arial;
	font-size: 30px;
	margin-right: 10px;
}

.div_split {
	width: 22%;
	margin-right: 3.5%;
	margin-top: 40px;
	float: left;
}

.div_split_last {
	width: 22%;
	margin-right: 0;
	float: left;
}

.div_pic 	{
	height: 220px;
}

.div_pic img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 220px;
	width: 100%;
	object-fit: cover;
}

.under_div {
	height: 90px;
	background: white;
	padding: 20px;
	box-sizing: border-box;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.under_div span {
	font-size: 25px;
	font-weight: 600;
	font-family: Arial;
}

.under_div p {
	color: red;
	font-family: Arial;
	margin-top: 0;
}

.div_copyright {
	background: black;
	width: 50%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid yellow;
	float: left;
}

.div_copyright2 {
	width: 68%;
	float: right;
	color: grey;
	text-align: left;
}

.div_copyright2 p {
	margin: 0;
}

.div_back_to_top {
	background: black;
	width: calc(50% - 1px);
	border-bottom: 1px solid yellow;
	border-left: 1px solid yellow;
	float: left;
}

.div_back_to_top2 {
	width: 80%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_back_to_top3 {
	font-family: Arial;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	box-sizing: border-box;
}

.div_back_to_top3 i {
	margin-left: 20px;
}

.div_back_to_top3:hover {
	cursor: pointer;
	background: grey;
}

.div_footer {
	background: grey;
	width: 100%;
	padding-bottom: 50px;
}

.div_container_footer {
	width: 68%;
	margin: 0 auto;
}

.div_footer_contact {
	width: 32%;
	float: left;
}

.div_contact {
	margin-top: 40px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid yellow;
	float: left;
	color: white;
	font-size: 22px;
	font-family: Arial;
}

.div_contact p {
	font-size: 16px;
	font-family: Arial;
	color: silver;
	margin-bottom: 0px;
	margin-top: 40px;
}

.div_postbox {
	height: 200px;
	margin-top: 40px;
	float: left;
	font-size: 16px;
	font-family: Arial;
}

.div_map {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: silver;
	margin-right: 20px;
}

.div_address {
	float: left;
}

.div_address p {
	margin-top: 0px;
	margin-bottom: 0px;
	color: silver;
	font-size: 16px;
}

.div_phone {
	float: left;
	margin-right: 13px;
	margin-top: 25px;
	color: silver;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_paragraph {
	float: left;
	margin-top: 30px;
	font-size: 18px;
	color: silver;
}

.div_paragraph p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.div_email {
	float: left;
	margin-right: 13px;
	margin-top: 25px;
	font-size: 30px;
	color: silver;
}

.div_support {
	float: left;
	margin-top: 32px;
	font-size: 18px;
	color: white;
}

.div_support p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.div_template {
	background: black;
	width: 34%;
	height: 410px;
	margin-left: 1%;
	margin-right: 1%;
	color: white;
	float: left;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.div_template img {
	width: 55%;
	height: 270px;
	margin-top: 55px;
	margin-left: 22.2%;
	margin-bottom: -10px;
}

.div_template span {
	margin-left: 23%;
	font-size: 22px;
	font-family: Arial;
}

.div_posts {
	width: 32%;
	float: left;
	margin-top: 40px;
	font-size: 22px;
	font-family: Arial;
	color: white;
}

.div_posts span {
	float: right;
}

.div_post_first {
	margin-top: 40px;
}

.div_post {
	height: 90px;
	float: left;
	font-family: Arial;
	border-top: 1px solid yellow;
}

.span_date {
	margin-top: 16px;
	color: silver;
	font-size: 14px;
}

.span_white {
	font-size: 17px;
	color: white;
	margin-top: 3px;
}

.span_blog {
	margin-top: 28px;
	font-size: 17px;
	color: white;
}

.span_blog i {
	margin-left: 5px;
}

.span_blog:hover {
	cursor: pointer;
	color: yellow;
}