body {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.coloana2 {
	background: red;
	height: 200px;
	margin-top: 10px;
}

.coloana3 {
	background: yellow;
	height: 200px;
	margin-top: 10px;
}

.coloana7 {
	background: blue;
	height: 200px;
	color: white;
	margin-top: 10px;
}