body {
	margin: 0;
	padding: 0;
}

.div_general {
	float: left;
	background: red;
	color: purple;
	width: 48%;
	height: 60px;
	margin-bottom: 2%;
	
}

.margin1 {
	margin-right: 1%;
	font-size: 50px;
}

.margin3 {
	margin-right: 1%;
	font-size: 50px;
}

.margin2 {
	margin-left: 1%;
	font-size: 50px;
}

.margin4 {
	margin-left: 1%;
}

.marginl2 {
	margin-left: 2%;
}

.div_copil {
	font-size: 20px;
	width: 47%;
	float:left;
	background: pink;
	box-sizing: border-box;
	height: 20px;
	margin-top: 7px;
}