body {
	margin: 0;
	padding: 0;
}

.div_parinte {
	width: 100%;
	background: silver;
	height: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.div_copil {
	width: 1000px;
	font-size: 40px;
	margin: 0 auto;
}

.left_column {
	width: 25%;
	background: red;
}

.div_split1 {
	width: 1%;
	background: white;
}

.comment_column {
	width: 48%;
	background: orange;
	text-align: center;
}

.div_split2 {
	width: 1%;
	background: white;
}

.right_column {
	width: 25%;
	background: red;
}

.subdiv {
	height: 460px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.clear {
	clear: both;
}