body {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.div_layout {
	background: silver;
	width: 100%;
	height: 100px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 5px;
	float: left;
}

.div_general {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}

.div_content {
	width: calc(30% - 20px);
	height: 400px;
	margin-right: 20px;
	background: lightgrey;
	float: left;
}

.div_separat {
	margin-right: 10px;
	height: 400px;
}

.div_column {
	background: yellow;
	width: calc(10% + 10px);
	height: 400px;
	float: left;
}

.div_footer {
	background: olive;
	width: 100%;
	height: 50px;
	float: left;
}