body {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-style: oblique;
	font-size: 50px;
	color: white;
}

.div_uno {
	background: orange;
	width: 100%;
	height: 75px;
	margin-top: 50px;
	margin-bottom: 10px;
	padding: 10px;
	box-sizing: border-box;
}

.div_due {
	background: orange;
	width: 25%;
	height: 330px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.div_tres {
	width: calc(75% - 10px);
	height: 330px;
	margin-left: 10px;
	float: left;
}

.div_3 {
	background: orange;
	width: 33.33%;
	height: 75px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.div_4 {
	background: orange;
	width: calc(66.66% - 10px);
	height: 75px;
	margin-left: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.div_5 {
	background: orange;
	width: 66.66%;
	height: 75px;
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.div_6 {
	background: orange;
	width: calc(33.34% - 10px);
	height: 75px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.div_7 {
	background: orange;
	width: 33.33%;
	height: 75px;
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.div_8 {
	background: orange;
	width: calc(33.33% - 10px);
	height: 75px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.div_9 {
	background: orange;
	width: calc(33.34% - 10px);
	height: 75px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.div_10 {
	background: orange;
	width: 100%;
	height: 75px;
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.clear {
	clear: both;
}