@media only screen and (min-width : 402px) and (max-width : 768px) {
		.logo img {
	    	width: 100px;
	}
}

@media only screen and (max-width : 401px) {

	.telefon {
		margin-left: 20px;
	}

	.logo {
		margin-left: 20px;
	}

	.mail {
		display: none;
	}

	.header960 {
		width: 100%;
	}

	.header1 .about {
		display: none;
	}

	.about.mobile {
		display: block;
		color: grey;
	}

	.meniu {
		display: none;
	}

	.hamburger {
		display: block;
		background: black;
		color: white;
		margin-right: 5px;
	}

	.header3	{
		height: 270px;
	}

	.title {
		font-size: 20px;
	}

	.continut_title {
		font-size: 10px;
		width: 125%;
	}

	.slider_right {
		width: 50%;
		float: right;
		padding-left: 10px;
		padding-right: 10px;
	    box-sizing: border-box;
	}

	.slider_right img {
		height: 165px;
	    object-fit: cover;
	    
	}

	.slider_left {
		width: 44%;
	    object-fit: contain;
	    float: left;
		padding-right: 10px;
	    padding-left: 10px;
	    box-sizing: border-box;
	}

	.read_more  {
		font-size: 10px;
	}

	.container110 {
		width: 40%;
		height: 10px;
		object-fit: cover;
	    float: left;
	}

	.ct110 {
		font-size: 24px;
		padding-left: 3px;
		margin-bottom: -15px;
	}

	.fully {
		font-size: 10px;
		margin-left: -10px;
	}

	.responsive	{
		margin-left: 2px;
		font-size: 10px;
	}

	.html {
		width: 80%;
		height: 1px;
		font-size: 7px;
	}

	.html2 {
		margin-top: 4px;
		width: 135%;
		height: 1px;
		font-size: 7px;
		margin-left: -10px;
	}

	.container_fully {
		margin-top: 17px;
		width: 40%;
		height: 10px;
		object-fit: cover;
	    float: right;
	}

	.div_line_left {
		width: calc(45% - 20px);
		margin-left: 20px;
		float: left;
	}

	.div_star {
		width: calc(10% - 10px);
		margin-left: 5px;
		margin-right: 5px;
	}

	.div_line_right {
		width: calc(45% - 20px);
		margin-right: 20px;
		float: right;
	}

	.div_text_middle {
		width: calc(100% - 40px);
		margin-left: 20px;
		margin-right: 20px;
		font-size: 16px;
	}

	.div_line_bottom {
		width: calc(100% - 40px);
		margin-left: 20px;
		margin-right: 20px;
	}

	.div_container  {
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
	}

	.div_mini_container {
		width: 100%;
		float: left;
	}

	.div_mini_container2 {
		margin-left: 0;
		width: 100%;
		float: left;
	}

	.div_text p  {
		font-size: 16px;
	}

	.div_middle   {
		padding-top: 60px;
		height: 540px;
	}

	.div_right {
		display: none;
	}

	.div_left {
		width: 100%;
		object-fit: cover;
		float: left;
		padding: 20px;
		box-sizing: border-box;
	}

	.div_left span {
		font-size: 30px;
	}

	.atropos_text   {
		font-size: 16px;
	}

	.lorem_ipsum_text	{
		font-size: 15px;
	}

	.oblique_text	{
		font-size: 14px;
	}

	.div_more   {
		width: 50%;
	}

	.div_cell_top	{
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
	}

	.div_cell   {
		margin-top: 20px;
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
	}

	.div_cell_bottom	{
		margin-top: 20px;
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
	}

	.big_icon	{
		margin-top: 0;
		margin-bottom: 5px;
		margin-left: 37.3%;
	}

	.big_text p	{
		font-size: 12px;
	}

	.span_middle	{
		font-size: 21px;
	}

	.content_recent_work	{
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
	}

	.div_split	{
		width: 100%;
		margin-right: 0;
	}

	.div_split_last   {
		width: 100%;
	}

	.under_div	{
		text-align: center;
	}

	.div_template	{
		display: none;
	}

	.div_posts	{
		display: none;
	}

	.div_copyright	{
		width: calc(100% - 60px);
		padding-left: 30px;
		padding-right: 30px;
	}

	.div_copyright2   {
		width: 100%;
		text-align: center;
		font-size: 13px;
	}

	.div_back_to_top   {
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
	}

	.div_back_to_top2	{
		width: calc(100% - 20px);
	}

	.div_back_to_top3	{
		margin: 0 auto;
	}

	.div_container_footer	{
		width: 100%;
	}

	.div_footer_contact	  {
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
	}

	.div_contact  {
		width: 100%;
	}

	.div_contact p 	{
		font-size: 14px;
	}

}