body {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.div_nav {
	background: olive;
	margin-top: 50px;
	width: 15%;
	height: 800px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.div_head {
	background: lightgreen;
	width: 85%;
	height: 150px;
	margin-top: 50px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.div_container {
	width: 70%;
	float: left;
}

.div_article {
	height: 500px;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.div_footer {
	background: lightgreen;
	height: 150px;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.div_aside {
	background: yellow;
	width: 15%;
	height: 650px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}