body {
	margin: 0;
	padding: 0;
}

.div_head {
	background: purple;
	color: yellow;
	font-size: 30px;
	width: 1400px;
	height: 100px;
	margin-top: 50px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.div_middle {
	background: purple;
	color: yellow;
	font-size: 30px;
	width: 1400px;
	height: 250px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.div_new {
	width: 250px;
}

.div_split1 {
	width: 10px;
	background: white;
}

.div_article {
	width: 700px;
}

.div_split2 {
	width: 10px;
	background: white;
}

.div_adds {
	width: 250px;
}

.div_footer {
	background: purple;
	color: yellow;
	font-size: 30px;
	margin-top: 10px;
	width: 1400px;
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.clear {
	clear: both;
}

.parinte1 {
	width: 100%;
}

.parinte2 {
	width: 600px;
	margin: 0 auto;
}

.header1 {
	background: red;
	width: 100%;
}

.header2 {
	background: orange;
	width: 100%;
}

.subdiv {
	height: 300px;
	float: left;
	background: grey;
}

.same_div {
	width: 25%;
}

.center_div {
	background: blue;
	width: 50%;
	color: orange;
}

.footer1 {
	width: 100%;
	background: orange;
	margin-bottom: 50px;
}