body {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.div_left {
	background: silver;
	width: 25%;
	height: 600px;
	margin-top: 50px;
	float: left;
}

.div_top {
	background: silver;
	width: calc(75% - 10px);
	height: 150px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 50px;
	float: left;
}

.div_container {
	width: calc(75% - 10px);
	margin-left: 10px;
	float: left;
}

.div_sub {
	background: silver;
	width: calc(25% - 7.5px);
	height: 140px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.div_sub_last {
	margin-right: 0px;
}

.div {
	background: silver;
	width: calc(33.385% - 7.5px);
	height: 190px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.div_last {
	margin-right: 0px;
}

.footer {
	background: silver;
	width: calc(50.16% - 7.5px);
	height: 90px;
	margin-right: 10px;
	float: left;
}

.footer_last {
	margin-right: 0px;
}