body {
	margin: 0;
	padding: 0;
}

.div_head {
	background: green;
	width: 100%;
	height: 100px;
}

.div_middle {
	width: 100%;
	height: 300px;
	float: left;
}

.div_article {
	width: 60%;
}

.div_aside {
	width: 20%;
	background: olive;
}

.div_nav {
	width: 20%;
	background: yellow;
}

.div_footer {
	background: green;
	width: 100%;
	height: 100px;
}

.clear {
	clear: both;
}