body {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	font-style: oblique;
	font-size: 40px;
	color: white;
}

.clear {
	clear: both;
}

.div_container {
	width: 65%;
	float: left;
}

.div1 {
	background: pink;
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	padding: 5px;
	box-sizing: border-box;
}

.div2 {
	background: pink;
	width: calc(35% - 10px);
	margin-left: 10px;
	height: 270px;
	margin-bottom: 10px;
	padding: 5px;
	box-sizing: border-box;
	float: left;
}

.div_sub_container {
	width: 100%;
	float: left;
}

.div_left {
	background: pink;
	width: calc(50% - 5px);
	margin-right: 5px;
	height: 60px;
	margin-bottom: 10px;
	padding: 5px;
	box-sizing: border-box;
	float: left;
}

.div_right {
	background: pink;
	width: calc(50% - 5px);
	margin-left: 5px;
	height: 60px;
	margin-bottom: 10px;
	padding: 5px;
	box-sizing: border-box;
	float: left;
}

.div9 {
	background: pink;
	width: 100%;
	height: 60px;
	padding: 5px;
	box-sizing: border-box;
}