body {
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	font-weight: bold;
	font-style: oblique;
	font-size: 40px;
	color: red;
}

.div_head {
	background: grey;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	padding: 15px;
	box-sizing: border-box;
}

.div_content {
	width: 95%;
	margin: 0 auto;
}

.div_article {
	background: grey;
	width: calc(70% - 20px);
	height: 450px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.div_adds {
	background: grey;
	width: 30%;
	height: 450px;
	margin-bottom: 20px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.div_content2 {
	width: 95%;
	margin: 0 auto;
}

.divlink_1 {
	background: grey;
	height: 125px;
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.divlink_2 {
	background: grey;
	height: 125px;
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.divlink_3 {
	background: grey;
	height: 125px;
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.divlink_4 {
	background: grey;
	height: 125px;
	width: calc(25% - 22.5px);
	margin-right: 0px;
	margin-bottom: 20px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.div_content3 {
	width: 95%;
	margin: 0 auto;
}

.divlink_5 {
	background: grey;
	height: 125px;
	margin-bottom: 20px;
	width: calc((100% - 150px)/6);
	margin-right: 30px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.divlink_6 {
	background: grey;
	height: 125px;
	margin-bottom: 20px;
	width: calc((100% - 150px)/6);
	margin-right: 30px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.divlink_7 {
	background: grey;
	height: 125px;
	margin-bottom: 20px;
	width: calc((100% - 150px)/6);
	margin-right: 30px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.divlink_8 {
	background: grey;
	height: 125px;
	margin-bottom: 20px;
	width: calc((100% - 150px)/6);
	margin-right: 30px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.divlink_9 {
	background: grey;
	height: 125px;
	margin-bottom: 20px;
	width: calc((100% - 150px)/6);
	margin-right: 30px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.divlink_0 {
	background: grey;
	height: 125px;
	margin-bottom: 20px;
	width: calc((100% - 150px)/6);
	margin-right: 0px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.div_footer {
	background: grey;
	width: 100%;
	height: 125px;
	padding: 15px;
	box-sizing: border-box;
}

.clear {
	clear: both;
}