body {
	font-family: 'Roboto', sans-serif;
}

.thin {
	font-size: 30px;
	font-weight: 100;
}

.regular {
	font-size: 30px;
	font-weight: 300;
}

.medium {
	font-size: 30px;
	font-weight: 500;
}

.bold {
	font-size: 30px;
	font-weight: 700;
}

.extrabold {
	font-size: 30px;
	font-weight: 900;
}