body {
	margin: 0;
	padding: 0;
}

.div_nav {
	background: olive;
	width: 25%;
	height: 600px;
	float: left;
}

.div_general {
	float:left;
	width: 75%;
}

.div_head {
	background: green;
	width: 100%;
	height: 150px;
}

.div_article {
	height: 300px;
	width: 100%;
}

.div_footer {
	background: green;
	height: 150px;
	width: 100%;
}

.clear {
	clear: both;
}