/* Acesta este un comentariu */



body {
	margin: 0;
	padding: 0;
}

.div_content {
	width: 200px;
	height: 200px;
	background: red;
}

.paragraf {
	color: green;
	font-size: 30px;
	width: 100%;
	align-items: center;
}

.div_uno {
	background-color: red;
}

.div_due {
	background-color: yellow;
	font-size:20px;
}

.div_tres {
	background-color: blue;
	font-size:30px;
}

.div_general2 {
	height: 60px;
	margin: 20px;
	font-size: 50px;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	width: 30%;
	color: black;
	float: left;
}

.jump_google {
	color: green;
}

.new_google {
	color: orange;
}

/*.test {
	font-size: 20px !important;
}*/

.font {
	font-size: 20px;
	font-weight: bolder;
}

.font2 {
	font-size: 20px;
	font-weight: 600;
	font-variant: small-caps;
	letter-spacing: 2px;
	word-spacing: 10px;
	line-height: 60px;
}

.font3 {
	text-transform: capitalize;
	text-align: center;
}

.p_indent {
	text-indent: 30px;
	text-decoration: blink;
}

.div_general1 {
	background: purple;
	height: 50px;
	margin: 20px;
	font-size: 40px;
	font-weight: bold;
	width: 30%;
	color: white;
	float: left;
}

.div_container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.div1 {
	margin-bottom: 3px;
}

.div2 {
	margin-bottom: 3px;
}

.div3 {
	margin-bottom: 3px;
}

.div4 {
	margin-top: 3px;
	margin-bottom: 3px;
}

.div5 {
	margin-top: 3px;
	margin-bottom: 3px;
}

.div6 {
	margin-top: 3px;
	margin-bottom: 3px;
}

.div7 {
	margin-top: 3px;
}

.div8 {
	margin-top: 3px;
}

.div9 {
	margin-top: 3px;
}

.clear {
	clear:both;
}