body {
	margin: 20px;
	padding: 30px;
}

.clear {
	clear: both;
}

.div_width {
	width: 150px;
	height: 200px;
	color: white;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	background: green;
	transition: width 2s linear;
}

.div_width:hover {
	width: 300px;
	background: red;
}

.div_delay {
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	width: 200px;
	height: 200px;
	color: white;
	font-weight: 600;
	background: darkblue;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 2s ease 2s;
}

.div_delay:hover {
	transform: scale(1.5);
	background: red;
}

.div_ease_out {
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	width: 200px;
	height: 200px;
	font-weight: 600;
	background: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 2s ease-out;
}

.div_ease_out:hover {
	background: red;
	width: 300px;
	height: 300px;
}

.div_transform {
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	width: 200px;
	height: 200px;
	font-weight: 600;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 2s;
}

.div_transform:hover {
	background: orange;
	transform: rotate(360deg);
}

.div_font {
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	width: 200px;
	height: 200px;
	font-weight: 600;
	background: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 2s ease-out;
}

.div_font:hover{
	transform: rotate(360deg);
	background: yellow;
	font-size: 30px;
}

.div_enlarge {
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 300px;
	width: 200px;
	height: 200px;
	font-weight: 600;
	background: darkred;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 2s ease-in-out;
}

.div_enlarge:hover {
	transform: rotate(360deg);
	background: pink;
	width: 400px;
	height: 400px;
}