body	{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.clear	{
	clear: both;
}

.Pop_up1	{
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
	z-index: 1;
	display: none;
}

.Pop_up2   {
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
	z-index: 1;
	display: none;
}

.Pop_up3	{
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
	z-index: 1;
	display: none;
}

.Popup_inner	{
	width: 60%;
	margin: 0 auto;
	background: #fff;
	color: #000;
	padding: 20px;
	margin-top: 20%;
	border-radius: 10px;
}

.Popup_inner i  {
	float: right;
	font-size: 20px;
}

.Popup_inner i:hover	{
	cursor: pointer;
}

.div_relative	{
	position: relative;
}

.div_absolute	{
	height: 2500px;
	padding: 0;
	background: rgba(6, 6, 6, 0.7);
	position: absolute;
	z-index: 20;
	display: none;
}

.div_menu	{
	height: inherit;
	background-color: #1a1ac1;
	padding: 0;
}

.fa-times-circle	{
	float: right;
	margin-top: 25px;
	margin-right: 25px;
	color: white;
	font-size: 75px;
}

.fa-times-circle:hover	{
	cursor: pointer;
	color: darkorange;
}

.div_menu ul   {
	margin-top: 95px;
	font-size: 20px;
	color: white;
	padding: 0;
	margin-bottom: 0;
}

.div_menu li   {
	padding: 35px;
	box-sizing: border-box;
	list-style: none;
	border-top: 3px solid black;
	font-size: 45px;
}

.div_menu li:hover	{
	cursor: pointer;
	background: cyan;
	color: red;
}

.list i   {
	color: darkorange;
	margin-left: 30px;
	margin-right: 20px;
	font-size: 55px;
}

.list li:last-child		{
	border-bottom: 3px solid black;
}

.second		{
	position: relative;
}

.div_photo	{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
	margin-bottom: 75px;
}

.div_photo	img	{
	height: 350px;
	width: 350px;
	border-radius: 50%;
	object-fit: cover;
}

.fa-sort-up	{
	margin-top: 24px;
	float: right;
	color: white !important;
	font-size: 45px !important;
}

.fa-sort-up:hover		{
	cursor: pointer;
	color: darkorange !important;
}

.fa-sort-down	{
	margin-top: 2px;
	float: right;
	color: white !important;
	font-size: 45px !important;
}

.fa-sort-down:hover		{
	cursor: pointer;
	color: darkorange !important;
}

.submenu	{
	display: none;
	list-style: none;
	margin-top: 45px !important;
}

.submenu li:last-child	{
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
}

.submenu li:hover	{
	color: red;
}

.div_header		{
	padding-top: 20px;
	background-color: #1a1ac1;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.plane		{
	float: left;
	box-sizing: border-box;
	padding-top: 6px;
	margin-right: 15px;
}

.div_header p   {
	float: left;
	font-size: 48px;
	margin-bottom: 0;
}

.div_header i {
	font-size: 55px;
}

.fa-bars	{
	margin-top: 5px;
	float: right;
	color: white;
	font-size: 55px;
}

.fa-bars:hover	{
	cursor: pointer;
	color: orange;
}

.background_1	{
	border-top: 2px solid black;
	padding-top: 25px;
	background-color: darkblue;
	padding-bottom: 25px;
}

.border_right	{
	border-right: 2px solid black;
}

.border_left	{
	border-left: 2px solid black;
}

.hover		{
	width: 42%;
	margin: 0 auto;
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
	font-size: 25px;
	border-radius: 15px;
}

.div_option i   {
	font-size: 50px;
	color: darkorange;
	margin-bottom: 10px;
}

.div_option p  {
	margin-bottom: 0;
}

.hover:hover	{
	cursor: pointer;
	background-color: cyan;
	opacity: 0.8;
}

.div_slider		{
	padding: 0;
}

.slider_x img    {
	width: 100%;
	height: 950px;
	object-fit: cover;
}

.slick-slide	{
	position: relative;
}

.slick-arrow	{
	position: absolute;
	top: 48%;
	z-index: 9;
	background: inherit;
	color: white;
	border-style: none;
	outline: none;
}

.slick-next		{
	right: 50px;
	font-size: 60px;
}

.slick-prev		{
	left: 50px;
	font-size: 60px;
}

.slick-dots		{
	text-decoration: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color: white;
}

.slick-dots li   {
	display: inline-block;
	padding-right: 5px;
	margin-left: 5px;
	border-radius: 50%;
	opacity: 0.5;
}

.slick-active	{
	opacity: 1 !important;
}

.opaque		{
	opacity: 0.4;
}

.background_3	{
	position: absolute;
	top: 16%;
	right: 5%;
	height: 650px;
	width: 650px;
	border-radius: 50%;
	background-color: rgba(216, 23, 23, 0.7);
	text-align: left;
	padding-left: 125px;
	padding-top: 190px;
	margin-right: 25px;
	font-size: 90px;
}

.background_3 p   {
	margin-bottom: 0;
	line-height: 90px;
}

.div_service	{
	padding-top: 65px;
	font-size: 100px;
	padding-bottom: 65px;
	border-bottom: 2px solid silver;
}

.div_service p   {
	margin-bottom: 0;
}

.div_chests   {
	padding-top: 155px;
	padding-bottom: 155px;
}

.div_chest	{
	position: relative;
	float: left;
	width: calc(33.33333333% - 90px);
	text-align: center;
	padding-top: 85px;
	background-color: #e6e6e5;
	font-size: 3.6vw;
	padding-bottom: 145px;
	border-radius: 10px;
	border: 3px solid silver;
	margin-bottom: 135px;
}

.div_chest:hover	{
	cursor: pointer;
	background: cyan;
}

.margins	{
	margin-left: 135px;
	margin-right: 135px;
}

.div_chest i   {
	font-size: 175px;
	margin-bottom: 10px;
}

.div_chest p   {
	margin-bottom: 0;
	line-height: 3.8vw;
}

.div_img	{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: none;
}

.div_img img    {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}