@media (max-width : 1236px)		{

/*=============================================================== Header_1-2 */

.div_1200	{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.news	{
	top: 22%;
}

.to_top		{
	top: 85%;
}

/*================================================================================== Index.php */

.div_purchase     {
	top: 8%;
}

.red_line_us	{
	width: 9%;
}

.div_features:first-child		{
	padding-left: 15px !important;
}

.div_features:nth-of-type(3)	{
	padding-right: 15px !important;
}

.div_projects     {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.div_options     {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.div_opt_ct		{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.red_line_team		{
	width: 3.5%;
}

.div_img      {
	width: calc(33.33333333% - 1%);
}

.box_img img    {
	height: 200px;
}

.slick-prev		{
	font-size: 90px;
}

.slick-next		{
	font-size: 90px;
}

.slick-arrow    {
	top: 16.5%;
}

.red_line_test		{
	width: 14%;
}

.red_line_hover     {
	width: 11%;
}

/*=============================================================== Footer */

.div_footer_container:first-child	{
	padding-left: 15px !important;
}

.div_footer_container:nth-of-type(3)	{
	padding-right: 15px !important;
}

.div_copyright		{
	padding-left: 15px !important;
}

/*================================================================================== About.php */

.red_line_about		{
	width: 14%;
}

.mobile_motto	{
	margin-top: 75px !important;
	margin-bottom: 75px !important;
}

.div_laptop		{
	padding-left: 15px !important;
}

.div_motto		{
	padding-right: 15px !important;
}

.div_bckg_stat		{
	padding-top: 75px;
	padding-bottom: 75px;
}

.div_about_list		{
	padding-left: 15px !important;
}

.div_about_list ul    {
	padding-left: 15%;
}

.text_about		{
	margin-left: 5.6%;
}

.mobile_choose		{
	padding-right: 15px !important;
}

/*================================================================================== Portfolio.php */

.mobile_portfolio_pics		{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.div_purchase_portfolio		{
	top: 1.5%;
}

/*================================================================================== Services.php */

.mobile_features	{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.red_line_pic	{
	width: 12.5%;
}

.div_services       {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

/*================================================================================== Contact.php */

.div_purchase_contact		{
	top: 80%;
}

.div_mobile_contact		{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.div_form		{
	padding-left: 15px !important;
}

.div_contact    {
	padding-right: 15px !important;
}

/*================================================================================== FAQ.php */

.div_purchase_faq		{
	top: 89%;
}

.div_faq_container		{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.div_faq_options	{
	padding-left: 7% !important;
}

.text_faq		{
	margin-left: 3.6%;
}

.red_line_faq_options	{
	width: 7%;
}

.div_beyond		{
	padding-right: 15px !important;
}

.tags	{
	line-height: 250% !important;
}

.div_hover_faq		{
	padding-left: 5%;
	padding-right: 5%;
}

.red_line_faq      {
	width: 15%;
}

/*================================================================================== Team.php */

.div_pop_up		{
	left: 13.5%;
	width: 75%;
}

.div_inner     {
	margin-top: 11.5%;
	height: 75%;
	width: 75%;
}

.mobile_team	{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.div_media	{
	width: 35%;
}

}

/*================================================================================================*/
/*================================================================================== * (max-width : 1199px) */
/*================================================================================================*/

@media (max-width : 1199px)		{

/*================================================================================== Index.php */

.div_purchase     {
	top: 60%;
}

.red_line_us	{
	width: 10%;
}

.div_icon      {
	font-size: 35px;
}

.div_list    {
	width: 28%;
}

.rgba_hover h3    {
	margin-top: 35%;
	font-size: 19px;
}

.red_line_team		{
	width: 3.2%;
}

.red_line_test		{
	width: 13%;
}

.red_line_hover     {
	width: 14%;
}

.red_line_footer	{
	width: 9%;
}

/*================================================================================== About.php */

.div_about_links	{
	width: 20%;
}

.red_line    {
	width: 14%;
}

.red_line_about		{
	width: 13%;
}

.red_line_choose	{
	width: 11%;
}

.red_line_stat		{
	width: 18%;
}

.div_icon_about		{
	font-size: 28px;
}

.div_about_list ul	{
	padding-left: 0;
}

.text_about		{
	margin-left: 5.3%;
}

/*================================================================================== Portfolio.php */

.red_line_services		{
	width: 12%;
}

.div_portfolio_links	{
	width: 28%;
}

/*================================================================================== Services.php */

.red_line_pic		{
	width: 11%;
}

/*================================================================================== FAQ.php */

.div_accounts       {
	width: 50%;
}

.div_faq_container		{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.div_faq_options	{
	padding-left: 0 !important;
}

.text_faq		{
	margin-left: 3.8%;
}

.div_hover_faq		{
	padding-left: 4%;
	padding-right: 4%;
}

.div_beyond		{
	padding-right: 0 !important;
}

.div_beyond h3    {
	line-height: 150%;
}

/*================================================================================== Team.php */

.div_team_links		{
	width: 20%;
}

.div_media		{
	width: 43%;
}

/*================================================================================== Contact.php */

.div_purchase_contact	{
	top: 10%;
}

.red_line_contact		{
	width: 13%;
}

}

/*================================================================================================*/
/*================================================================================== * (max-width : 992px) */
/*================================================================================================*/

@media (max-width : 992px)		{

/*================================================================================== Index.php */

.news	{
	top: 20%;
}

.div_purchase     {
	top: 2%;
}

.red_line_us	{
	width: 11.5%;
}

.red_line_team		{
	width: 4%;
}

.red_line_test		{
	width: 15%;
}

/*================================================================================== About.php */

.red_line_about		{
	width: 16%;
}

.div_about_list ul    {
	padding-left: 15%;
}

.text_about		{
	margin-left: 6%;
}

/*================================================================================== Services.php */

.red_line_pic		{
	width: 14.5%;
}

/*================================================================================== FAQ.php */

.div_faq_options	{
	padding-left: 10% !important;
}

.text_faq	{
	margin-left: 4.4%;
}

.red_line_faq_options	{
	width: 8%;
}

.div_hover_faq h3		{
	font-size: 21px;
}

.div_beyond		{
	padding-right: 15px !important;
}

}

/*================================================================================================*/
/*================================================================================== * (max-width : 991px) */
/*================================================================================================ problem with JS div heights */

@media (max-width : 991px)		{

/*================================================================================== Header_1 */

.bckg_color1	{
	padding-top: 0;
	padding-bottom: 0;
}

.header1_left li    {
	padding-left: 0;
}

.header1_left a		{
	padding: 37px 14px;
	display: block;
}

.header1_right	li 	{
	padding-right: 0;
}

.header1_right a     {
	padding: 25px 15px;
	display: block;
}

/*================================================================================== Header_2 */

.logo     {
	margin-top: 2.6%;
}

.menu     {
	display: none;
}

.div_mobile		{
	position: relative;
	display: block;
	margin: 0;
}

.div_mobile .fa-bars    {
	float: right;
	color: #eaecf1;
	padding: 20px 25px;
	padding-right: 0;
	font-size: 45px;
}

.div_mobile .fa-bars:hover   {
	cursor: pointer;
	color: #b54321;
}

.menu_mobile   {
	position: absolute;
	top: 100%;
	left: 0;
	list-style: none;
	margin-bottom: 0;
	width: 100%;
	padding: 0;
	font-size: 20px;
	background-color: rgb(41, 44, 49);
	border-top: 2px solid #b54321;
	display: none;
	z-index: 1;
}

.menu_mobile li    {
	display: block;
	padding: 0;
}

.menu_mobile a     {
	display: block;
	text-decoration: none;
	color: #eaecf1;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 175px;
	padding-bottom: 15px;
}

.menu_mobile a:hover     {
	background-color: rgba(234, 236, 241, 0.1);
	color: #b54321;
}

.documentation_mobile	{
	color: #eaecf1;
	padding-top: 15px !important;
	padding-left: 20px !important;
	padding-right: 105px !important;
	padding-bottom: 15px !important;
}

.documentation_mobile:hover    {
	cursor: pointer;
	background-color: rgba(234, 236, 241, 0.1);
	color: #b54321;
}

.documentation_mobile i   {
	margin-left: 3%;
	font-size: 15px;
	margin-right: 0;
}

.submenu	{
	position: absolute;
	top: 100%;
	right: 0;
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	font-size: 20px;
	background-color: rgb(41, 44, 49);
	border-top: 0;
	border-left: 2px solid #b54321;
	width: 100%;
	display: none;
}

.submenu li     {
	display: block;
	padding: 0;
}

.submenu a   {
	display: block;
	text-decoration: none;
	color: #eaecf1;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 175px;
	padding-bottom: 15px;
}

/*================================================================================== Index.php */

.mobile_container	{
	padding-top: 100px;
	padding-bottom: 100px;
}

.div_features		{
	margin-bottom: 75px;
}

.div_features:last-child	{
	margin-bottom: 0;
}

.red_line      {
	width: 6%;
}

.red_line_us	{
	width: 4%;
}

.div_options	{
	padding-top: 100px;
	padding-bottom: 100px;
}

.div_opt_ct		{
	margin-bottom: 75px !important;
}

.div_opt_ct:last-child		{
	margin-bottom: 0 !important;
}

.div_icon     {
	width: 10%;
}

.div_inline    {
	padding-left: 0;
}

.div_list     {
	width: 36%;
}

.div_list li   {
	margin-right: 3%;
}

.div_list i		{
	padding: 7px;
}

.div_list a     {
	padding: 7px;
}

.div_img img    {
	height: 200px;
}

.rgba_hover h3    {
	margin-top: 31%;
	font-size: 18px;
	line-height: 150%;
}

.red_line_rgba_hover	{
	width: 17%;
}

.date    {
	margin-top: 1%;
}

.div_img_container		{
	margin-top: 10px;
}

.div_stamp	{
	margin-top: 75px;
	float: left;
	width: 50%;
}

.div_stamp img    {
	height: 65px;
	width: 100%;
}

.mobile_order	{
	display: flex;
	flex-wrap: wrap;
}

.div_cite     {
	order: 1;
}

.div_test	{
	width: 100%;
}

.red_line_test		{
	width: 5%;
}

.mobile_hover		{
	padding-top: 100px;
	padding-bottom: 100px;
}

.div_hover    {
	padding-left: 7%;
	padding-right: 7%;
}

.red_line_hover    {
	width: 6.5%;
}

/*=============================================================== Footer */

.red_line_footer	{
	margin-top: 2%;
	width: 3.5%;
}

.div_footer_container	{
	height: 200px;
}

.div_footer_container li     {
	margin: 0;
}

.div_footer_container a    {
	padding: 25px 20px;
	display: block;
}

.div_footer_container:nth-child(2) a   {
	padding: 25px 35px;
	display: block;
}

.div_wrap	{
	display: flex;
	flex-wrap: wrap;
}

.div_twitter	{
	float: left;
	margin-top: 1.5%;
}

.div_twitter i     {
	margin-top: 0;
}

.div_tweet	{
	float: left;
	margin-top: 0;
	margin-left: 2%;
}

.div_email		{
	margin-top: 5%;
	width: 100%;
	margin-bottom: 10%;
}

.Email    {
	width: 70%;
}

.div_copyright	{
	order: 2;
}

/*================================================================================== About.php */

.red_line_services	{
	width: 7%;
}

.div_about_links	{
	width: 31%;
}

.div_about_links li    {
	margin: 0;
}

.div_about_links a    {
	padding: 10px 10px;
}

.div_about_mobile	{
	padding-top: 150px;
	padding-bottom: 150px;
}

.red_line_about		{
	width: 5.5%;
}

.mobile_motto	{
	margin-top: 75px !important;
	margin-bottom: 75px !important;
	display: flex;
	flex-wrap: wrap;
}

.div_laptop		{
	order: 2;
}

.div_icon_about		{
	width: 9%;
}

.div_inline_about		{
	padding-left: 0;
}

.red_line_stat		{
	width: 23%;
}

.mobile_logo	{
	padding-top: 50px !important;
	padding-bottom: 15px !important;
}

.div_logos_ct	{
	margin-bottom: 0;
}

.div_logo   {
	float: left;
	width: 50%;
	margin-bottom: 35px;
}

.div_logo img    {
	height: 85px;
    width: 75%;
}

.mobile_about_support	{
	padding-top: 75px;
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-bottom: 75px;
}

.div_about_list		{
	float: left;
	width: 50%;
}

.div_about_list ul      {
	padding-left: 0;
}

.text_about		{
	margin-left: 7%;
}

.mobile_choose		{
	float: left;
	width: 50%;
}

.red_line_choose	{
	width: 14%;
}

/*================================================================================== Portfolio.php */

.div_portfolio_links	 {
    width: 41%;
}

.div_portfolio_links li    {
	margin: 0;
}

.div_portfolio_links a     {
	padding: 7px 12px;
}

.div_portfolio_pics		{
	margin-bottom: 9.5px;
}

.div_portfolio_pics img     {
	height: 310px;
}

/*================================================================================== Services.php */

.mobile_services	{
	padding-top: 75px;
	padding-bottom: 75px;
}

.div_features		{
	border: 0 !important;
	margin-bottom: 50px;
}

.services_mobile	{
	padding-top: 150px;
	padding-bottom: 150px;
}

.red_line_pic		{
	width: 4.5%;
}

.div_services_icon	{
	float: left;
	margin-right: 2%;
}

.div_services:nth-child(5)	{
	margin-bottom: 50px;
}

.div_services:last-child	{
	margin-bottom: 50px;
}

.div_services_icon i    {
	margin-top: 5px;
	margin-bottom: 25px;
}

/*================================================================================== Contact.php */

.div_mobile_contact		{
	padding-top: 100px;
	padding-bottom: 100px;
}

.div_purchase_contact	{
	top: 57%;
}

.div_contact      {
	margin-top: 100px;
}

.red_line_contact	{
	width: 7%;
}

.div_social_icon	{
	float: left;
}

.div_social:nth-of-type(3) .div_social_icon	{
	margin-right: 6.1%;
}

.div_social div:nth-of-type(2)		{
	display: inline-block;
}

/*================================================================================== FAQ.php */

.div_accounts	{
	width: 66%;
}

.div_accounts ul   {
	padding: 0;
}

.div_accounts li   {
	margin: 0;
	padding: 10px 15px;
}

.div_faq_container		{
	padding-top: 75px;
	padding-bottom: 75px;
}

.div_faq_options	{
	padding-left: 15px !important;
}

.div_faq_options ul    {
	margin-bottom: 75px;
}

.div_faq_options li   {
	margin: 0;
	padding-bottom: 20px;
}

.text_faq	{
	margin-left: 4%
}

.red_line_faq_options	{
	width: 7%;
}

.div_hover_faq i     {
	margin-right: 1%;
}

.red_line_faq     {
	width: 7%;
}

.div_beyond		{
	margin-top: 75px;
}

.red_line_beyond	{
	margin-top: 2%;
	width: 7%;
	margin-bottom: 6%;
}

.div_beyond ul i   {
	margin-right: 1%;
}

.div_beyond .div_social:nth-of-type(3) .div_social_icon 	{
	margin-right: 5%;
}

.div_beyond .div_social:nth-of-type(4) .div_social_icon 	{
	margin-right: 6.1%;
}

/*================================================================================== Team.php */

.div_team_links {
    width: 36%;
	padding: 12px 0;
}

.div_team_links a    {
	padding: 10px 12px;
}

.div_team_pic img    {
	height: 225px;
}

.div_media		{
	width: 49%;
}

.div_media a     {
	font-size: 15px;
	padding: 5px 9px;
}

.span_occupation	{
	margin-top: 5px;
	margin-bottom: 15px;
}

.div_inner {
    margin-top: 13.5%;
}

}

/*================================================================================================*/
/*================================================================================== * (max-width : 768px) */
/*================================================================================================*/

@media (max-width : 768px)		{
	
/*=============================================================== General */

.header1_right		{
	display: none;
}

.news		{
	display: none;
}

.to_top	{
	display: none !important;
}

/*================================================================================== Index.php */

.div_purchase	{
	display: none;
}

.bckg_img2		{
	display: none;
}

.red_line_us    {
	width: 5.5%;
}

.div_inline h4   {
	margin-bottom: 0;
}

.div_inline a    {
	display: block;
	padding-top: 2.5%;
	text-decoration: none;
	color: #667;
	padding-bottom: 2%;
}

.div_inline a:hover   {
	color: #b54321;
}

.flag_mobile h3    {
	margin-bottom: 0;
}

.flag_mobile a   {
	display: block;
	padding-top: 3.5%;
	text-decoration: none;
	color: #eaecf1;
	padding-bottom: 3%;
}

.flag_mobile a:hover   {
	color: #b54321;
}

.div_projects    {
	padding-top: 100px;
	padding-bottom: 100px;
}

.div_our_projects	{
	margin-bottom: 30px;
}

.div_list    {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.div_list li    {
	margin: 0;
}

.div_list i    {
	padding: 15px;
	padding-left: 0;
}

.div_list a    {
	padding: 10px 15px;
}

.div_list a:last-child   {
	padding-right: 15px !important;
}

.div_img	{
	width: 100%;
	margin-bottom: 15px;
	margin-right: 0;
	padding: 0 !important;
}

.div_img:last-child		{
	margin-bottom: 0;
}

.div_img img   {
	height: 550px;
}

.rgba_hover h3    {
	margin-top: 31%;
	font-size: 36px;
	line-height: 0;
}

.red_line_rgba_hover	{
	margin-top: 8%;
	width: 11%;
	margin-bottom: 7%;
}

.skill     {
	font-size: 20px;
}

.date    {
	margin-top: 19%;
	font-size: 18px;
}

.div_team_container    {
	padding-top: 100px;
	padding-bottom: 100px;
}

.red_line_team    {
	width: 6%;
	margin-bottom: 12%;
}

.box_img   {
	position: relative;
	width: 100%;
}

.box_img img   {
	height: 550px;
}

.box_img i   {
	display: block;
	position: absolute;
	top: 2%;
	left: 4%;
	color: black;
	font-size: 65px;
}

.red_line_test    {
	width: 7%;
}

/*================================================================================== About.php */

.div_about_mobile	{
	padding-top: 100px;
	padding-bottom: 100px;
}

.red_line_about {
    width: 6.5%;
}

.div_laptop		{
	display: none;
}

.div_inline_about h4    {
	margin-bottom: 0;
}

.div_inline_about a    {
	display: block;
	padding-top: 3%;
	text-decoration: none;
	color: silver;
	padding-bottom: 3%;
}

.div_inline_about a:hover    {
	color: #b54321;
}

.div_statistics   {
	width: 100%;
	margin-bottom: 10%;
}

.div_statistics:last-child    {
	margin-bottom: 0;
}

.red_line_stat {
    width: 6%;
}

/*================================================================================== Portfolio.php */

.div_purchase_portfolio		{
	display: none;
}

/*================================================================================== Services.php */

.services_mobile	{
	padding-top: 100px;
	padding-bottom: 100px;
}

.red_line_pic {
    width: 5.5%;
}

/*================================================================================== Contact.php */

.div_purchase_contact		{
	display: none;
}

/*================================================================================== FAQ.php */

.div_purchase_faq		{
	display: none;
}

/*================================================================================== Team.php */

.div_pop_up {
    left: 5.5%;
    width: 90%;
}

.div_inner {
    margin-top: 14.5%;
	width: 85%;
}

.div_team_flag_container h3    {
	margin-bottom: 0;
}

.div_team_flag_container a     {
	display: block;
	padding-top: 3%;
	text-decoration: none;
	color: #eaecf1;
	padding-bottom: 3%;
}

.div_team_flag_container a:hover    {
	color: orange;
}

}

/*================================================================================================*/
/*================================================================================== * (max-width : 320px) */
/*================================================================================================*/

@media (max-width : 320px)		{

.padding_left0	{
	padding-left: 15px !important;
}

.padding_right0		{
	padding-right: 15px !important;
}

.news		{
	display: none;
}

.to_top	{
	display: none !important;
}

/*=============================================================== General */

.div_1200	{
	padding: 0 !important;
}

.bckg_color1	{
	padding-top: 0;
	padding-bottom: 0;
}

.header1_left li    {
	padding-left: 0;
}

.header1_left a		{
	padding: 25px 11px;
	display: block;
}

.header1_right		{
	display: none;
}

.bckg_color2	{
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo      {
	margin-top: 0;
}

.logo img   {
	height: 35px;
}

.menu	{
	display: none;
}

.div_mobile		{
	position: relative;
	display: block;
	margin: 0;
}

.div_mobile .fa-bars    {
	padding: 7px 5px !important;
	font-size: 20px !important;
}

.div_mobile .fa-bars:hover   {
	cursor: pointer;
	color: #b54321;
}

.menu_mobile   {
	position: absolute;
	top: 128%;
	left: -6%;
	list-style: none;
	margin-bottom: 0;
	width: 111.6%;
	padding: 0;
	font-size: 15px;
	background-color: rgb(41, 44, 49);
	border-top: 2px solid #b54321;
	display: none;
	z-index: 1;
}

.menu_mobile li    {
	display: block;
	padding: 0;
}

.menu_mobile a     {
	display: block;
	text-decoration: none;
	color: #eaecf1;
	padding-top: 10px;
	padding-left: 17px;
	padding-right: 230px;
	padding-bottom: 10px;
}

.menu_mobile a:hover     {
	background-color: rgba(234, 236, 241, 0.1);
	color: #b54321;
}

.documentation_mobile	{
	color: #eaecf1;
	padding-top: 7px !important;
	padding-left: 17px !important;
	padding-right: 160px !important;
	padding-bottom: 10px !important;
}

.documentation_mobile:hover    {
	cursor: pointer;
	background-color: rgba(234, 236, 241, 0.1);
	color: #b54321;
}

.documentation_mobile i   {
	font-size: 11px;
}

.submenu	{
	position: absolute;
	top: 100%;
	right: 0;
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	font-size: 15px;
	background-color: rgb(41, 44, 49);
	border-left: 0;
	border-top: 2px solid #b54321;
	width: 100%;
	display: none;
}

.submenu li     {
	display: block;
	padding: 0;
}

.submenu a   {
	display: block;
	text-decoration: none;
	color: #eaecf1;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 220px;
	padding-bottom: 10px;
}

/*=============================================================== Header_1-2 */

/*================================================================================== Index.php */

.div_info     {
	padding-top: 80px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-bottom: 40px !important;
}

.div_info h1   {
	font-size: 22px;
}

.div_info p    {
	margin-top: 20px;
	font-size: 10px;
	margin-bottom: 20px;
}

.div_butzon		{
	padding: 6px 15px;
	font-size: 10px;
}

.slick-dots		{
	font-size: 15px;
	bottom: 0;
}

.mobile_container	{
	padding-top: 50px;
	padding-bottom: 50px;
}

.div_features	{
	margin-bottom: 25px;
}

.div_features i     {
	font-size: 55px;
}

.red_line     {
	margin-top: 15px;
	height: 2px;
	width: 11%;
	margin-bottom: 15px;
}

.div_features h4    {
	margin-top: 10px;
	font-size: 15px;
}

.div_features p   {
	font-size: 10px;
}

.div_purchase	{
	display: none;
}

.bckg_img2		{
	display: none;
}

.bckg_color3 h3   {
	font-size: 18px;
}

.red_line_us		{
	height: 2px;
	margin-top: 15px;
	width: 12%;
	margin-bottom: 15px;
}

.bckg_color3 p    {
	font-size: 10px;
}

.div_clients	{
	padding-top: 13%;
}

.div_clients h4    {
	font-size: 15px;
}

.div_options	{
	padding-top: 50px;
	padding-bottom: 42px;
}

.div_options h4    {
	font-size: 16px;
	margin-bottom: 3%;
}

.div_options p   {
	margin-top: 3%;
	font-size: 12px;
}

.div_opt_ct		{
	padding: 0 !important;
	margin-bottom: 35px !important;
}

.div_opt_ct:last-child	{
	margin-bottom: 0 !important;
}

.div_icon	{
	width: 20%;
}

.div_icon i    {
	font-size: 25px;
}

.div_inline		{
	width: 78%;
	padding-left: 4%;
}

.div_inline a    {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	text-decoration: none;
	color: silver;
}

.div_inline a:hover   {
	color: #b54321;
}

.div_flag_container div   {
	padding-top: 35px;
	padding-left: 15px;
	padding-right: 50px;
	padding-bottom: 30px;
}

.div_flag_container a   {
	padding-top: 10px;
	display: block;
	text-decoration: none;
	color: silver;
	padding-bottom: 10px;
	font-size: 12px;
}

.div_flag_container a:hover	{
	color: #b54321;
}

.div_flag_container h3   {
	font-size: 18px;
	margin-bottom: 2%;
}

.div_flag_container p   {
	font-size: 12px;
	margin-top: 2%;
}

.div_projects	{
	padding-top: 55px;
	padding-bottom: 70px;
}

.div_our_projects	{
	margin-bottom: 20px;
}

.div_our_projects h3   {
	font-size: 20px;
}

.red_line_pro	{
	height: 2px;
	width: 22%;
}

.div_list   {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}

.div_list i {
    padding: 10px;
    padding-left: 0;
}

.div_list a   {
	padding: 10px;
}

.div_list a:last-child {
    padding-right: 10px !important;
}

.div_team_container		{
	padding-top: 50px;
	padding-bottom: 50px;
}

.div_team_container h3   {
	font-size: 20px;
	margin-bottom: 20px;
}

.div_img_container		{
	margin-bottom: 15px;
}

.div_img_container:nth-of-type(2)		{
	margin-bottom: 0;
}

.div_img	{
	width: 100%;
	margin-bottom: 15px;
	margin-right: 0;
	padding: 0 !important;
}

.div_img:last-child		{
	margin-bottom: 0;
}

.div_img img   {
	height: 182px;
}

.rgba_hover    {
	padding: 0 20px;
}

.rgba_hover h3     {
	margin-top: 27%;
	font-size: 17px;
}

.red_line_rgba_hover	{
	height: 2px;
	width: 13%;
	background-color: #b54321;
}

.skill	{
	font-size: 11px;
}

.date   {
	float: right;
	margin-top: 4%;
	margin-bottom: 0;
	font-size: 11px;
}

.box_mobile	{
	display: none;
}

.red_line_team		{
	height: 2px;
	width: 12%;
	margin-bottom: 50px;
}

.box_img	{
	position: relative;
	width: 100%;
}

.box_img img      {
	height: 270px;
}

.box_img i   {
	display: block;
	position: absolute;
	top: 2%;
	left: 4%;
	color: black;
	font-size: 35px;
}

.div_stamp	{
	margin-top: 50px;
	float: left;
	width: 50%;
}

.div_stamp img    {
	height: 50px;
	width: 75%;
}

.mobile_order	{
	display: flex;
	flex-wrap: wrap;
}

.div_cite     {
	padding-top: 50px;
	padding-left: 35px;
	order: 1;
	padding-right: 35px;
	padding-bottom: 25px;
}

.div_cite p:first-of-type	{
	font-size: 15px;
	margin-bottom: 25px;
}

.div_cite p:last-of-type    {
	font-size: 16px;
}

.red_line_test	{
	height: 2px;
	width: 14%;
	margin-bottom: 10%;
}

.div_test   {
	padding-left: 15px;
	padding-right: 15px;
}

.div_test h3    {
	font-size: 20px;
}

.div_test p    {
	font-size: 12px;
}

.mobile_hover	{
	padding-top: 25px;
	padding-bottom: 50px;
}

.div_hover	{
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 10px;
}

.div_hover:last-child   {
	margin-bottom: 0;
}

.div_hover i     {
	font-size: 20px;
}

.div_hover h4    {
	margin-top: 0;
	font-size: 15px;
	margin-bottom: 3.5%;
}

.div_hover a    {
	padding-top: 15px;
	display: block;
	text-decoration: none;
	color: #b54321;
	padding-bottom: 15px;
	font-size: 12px;
}

.div_hover a:hover   {
	color: green;
}

.div_hover p    {
	font-size: 11px;
}

.red_line_hover		{
	height: 2px;
	width: 10%;
	margin-bottom: 0;
}

/*=============================================================== Footer */

.div_footer     {
	padding-top: 50px;
	padding-bottom: 50px;
}

.red_line_footer	{
	margin-top: 5%;
	height: 2px;
	width: 9%;
	margin-bottom: 2%;
}

.div_footer_container	{
	padding: 0 !important;
	height: 150px;
	margin-bottom: 0;
}

.div_footer_container:first-child   {
	padding-left: 0 !important;
	margin-bottom: 20%;
}

.div_footer_container:first-child ul   {
	margin-top: 25px;
	margin-bottom: 0;
}

.div_footer_container:nth-child(3)   {
	margin-bottom: 15%;
}

.div_footer_container li     {
	margin: 0;
}

.div_footer_container a    {
	padding: 20px 10px;
	display: block;
}

.footer_list_1 li:nth-child(5) a	{
	padding-left: 0 !important;
}

.footer_list_2		{
	margin-top: 4%;
}

.footer_list_2 i      {
	font-size: 15px;
}

.div_footer_container:nth-child(2) a   {
	padding: 10px 15px;
	display: block;
}

.div_twitter    {
	float: left;
}

.div_twitter   {
	margin-top: 9%;
}

.div_twitter i   {
	font-size: 15px;
}

.div_tweet		{
	margin-top: 8%;
	width: 85%;
	float: left;
	margin-left: 5%;
}

.div_tweet p    {
	font-size: 11px;
}

.div_wrap	{
	display: flex;
	flex-wrap: wrap;
}

.div_email		{
	padding: 0;
	width: 100%;
	margin-bottom: 15%;
}

.div_email input    {
	border-bottom: 2px solid #b54321;
}

.form-control:focus		{
	border-bottom: 2px solid #b54321;
}

.div_copyright	{
	padding: 0 !important;
	order: 2;
}

/*================================================================================== Services.php */

.bckg_img_services1		{
	width: 100%;
}

.div_serve		{
	margin-top: 95px;
	margin-bottom: 40px;
}

.div_serve h1   {
	font-size: 22px;
}

.div_serve p    {
	font-size: 12px;
}

.red_line_services		{
	height: 2px;
	width: 12%;
}

.mobile_services	{
	padding-top: 50px;
	padding-bottom: 50px;
}

.div_features	{
	border: 0 !important;
}

.div_services_relative h3   {
	font-size: 20px;
}

.red_line_pic	{
	height: 2px;
	width: 12%;
	margin-bottom: 7%;
}

.div_services_relative p   {
	font-size: 12px;
}

.div_services_ct1	{
	padding-top: 25px;
	padding-bottom: 25px;
}

.div_services_ct2	{
	padding-top: 25px;
	padding-bottom: 25px;
	display: none;
}

.div_services_ct3	{
	padding-top: 25px;
	padding-bottom: 25px;
	display: none;
}

.mobile_features		{
	padding-top: 50px;
	padding-bottom: 50px;
}

.div_services     {
	padding: 0 !important;
	display: inline-block;
	margin-bottom: 25px !important;
}

.div_services:last-child    {
	margin-bottom: 0 !important;
}

.div_services h4    {
	margin-bottom: 0
}

.div_services a    {
	display: block;
	margin-top: 15px;
	text-decoration: none;
	color: silver;
	margin-bottom: 10px;
}

.div_services a:hover    {
	color: #b54321;
}

.div_services p    {
	font-size: 12px;
}

.div_services div:last-child	{
	margin-left: 20%;
	padding: 0;
}

.div_services_icon		{
	float: left;
	padding-left: 3.5%;
}

/*================================================================================== FAQ.php */

.div_purchase_faq		{
	display: none;
}

.div_faq     {
	margin-top: 100px;
	margin-bottom: 20px;
}

.div_faq h1   {
	font-size: 22px;
}

.div_faq p    {
	font-size: 12px;
}

.div_accounts		{
	width: 89%;
}

.div_accounts ul    {
	font-size: 12px;
	padding: 0;
	padding-top: 5px;
}

.div_accounts li     {
	padding: 3px 5px;
}

.div_accounts li:first-of-type		{
	padding-right: 0;
	margin-right: 9%;
}

.div_accounts li:nth-of-type(2)		{
	margin-right: 9%;
}

.div_accounts li:nth-of-type(3)		{
	margin-bottom: 0;
}

.div_accounts li:last-of-type		{
	margin-bottom: 0;
}

.div_accounts a    {
	padding: 10px 10px;
}

.div_faq_container		{
	padding-top: 50px;
	padding-bottom: 50px;
}

.div_faq_options		{
	padding: 0 !important;
}

.div_faq_options ul    {
	margin-bottom: 75px;
}

.div_faq_options h4     {
	font-size: 12px;
}

.div_faq_options i    {
	font-size: 13px;
}

.text_faq     {
	font-size: 12px;
	margin-left: 6%;
	padding-right: 3%;
	padding-bottom: 0;
}

.div_faq_options h3     {
	font-size: 16px;
	text-align: center;
	line-height: 175%;
}

.red_line_faq_options	{
	height: 2px;
	width: 12%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
}

.text_find		{
	font-size: 12px;
	text-align: center;
}

.div_contact_us		{
	float: none;
	margin: 0 auto;
	margin-top: 25px;
	font-size: 12px;
	padding: 7px;
	width: 25.5%;
	margin-bottom: 35px;
}

.div_hover_faq		{
	padding-top: 25px;
	padding-bottom: 25px;
}

.div_hover_faq h3    {
	font-size: 15px;
}

.div_hover_faq i     {
	font-size: 25px;
}

.div_hover_faq p    {
	font-size: 12px;
	text-align: center;
}

.red_line_faq     {
	height: 2px;
	width: 18%;
	margin: 0 auto;
	margin-top: 4%;
}

.div_beyond		{
	margin-top: 50px;
	padding: 0 !important;
}

.div_beyond h3   {
	font-size: 16px;
	text-align: center;
}

.red_line_beyond	{
	height: 2px;
	width: 12%;
	margin: 0 auto;
	margin-top: 6%;
	margin-bottom: 8%;
}

.div_beyond p    {
	font-size: 12px;
	text-align: center;
}

.tags	{
	word-spacing: 0;
	margin-bottom: 20px !important;
}

.tags a   {
	padding: 15px 7px;
}

.div_social div     {
	display: inline-block;
}

.div_social a     {
	padding: 10px 0px;
}

.div_social i    {
	font-size: 15px;
}

.span_hover		{
	font-size: 14px !important;
}

/*================================================================================== Team.php */

.div_our_team	{
	margin-top: 100px;
	margin-bottom: 20px;
}

.div_our_team h1     {
	font-size: 22px;
}

.div_our_team p     {
	font-size: 12px;
}

.div_team_links		{
	width: 61%;
	padding: 7px 0;
}

.div_team_links ul    {
	font-size: 12px;
}

.div_team_links li    {
	margin: 0 !important;
}

.div_team_links a    {
	padding: 7px 10px;
}

.mobile_team     {
	padding-top: 75px;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 75px;
}

.div_team     {
	margin-top: 0 !important;
	margin-right: 0;
	width: 100%;
	margin-bottom: 60px;
}

.div_team:last-child    {
	margin-bottom: 0;
}

.div_team_pic img   {
	border-radius: 0;
}

.div_pop_up		{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 0;
}

.div_pop_up i    {
	float: right;
	color: #eaecf1;
	font-size: 25px;
	margin-top: 0;
	margin-right: 0;
	padding: 15px;
}

.div_inner    {
	width: 90%;
	height: 75%;
	margin-top: 17.5%;
	border-radius: 20px;
	border: 10px solid #eaecf1;
}

.div_media		{
	width: 43%;
}

.div_media a     {
	padding: 10px 12px;
}

.span_occupation     {
	margin-top: 10px;
}

.div_team_flag_container div    {
	padding-top: 40px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 40px;
}

.div_team_flag_container h3     {
	font-size: 20px;
	margin-bottom: 0;
}

.div_team_flag_container a     {
	display: block;
	text-decoration: none;
	color: inherit;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px;
}

.div_team_flag_container a:hover    {
	color: orange;
}

.div_team_flag_container p     {
	font-size: 12px;
	margin-bottom: 0;
}

.div_team_flag_container i    {
	top: 4.5%;
	font-size: 65px !important;
}

/*================================================================================== Portfolio.php */

.div_purchase_portfolio		{
	display: none;
}

.div_portfolio      {
	margin-top: 100px;
	margin-bottom: 20px;
}

.div_portfolio h1   {
	font-size: 22px;
}

.div_portfolio p     {
	font-size: 12px;
}

.div_portfolio_links	{
	padding: 8px 0;
	width: 78%;
}

.div_portfolio_links ul    {
	font-size: 12px;
}

.div_portfolio_links li    {
	margin: 0;
}

.div_portfolio_links a     {
	padding: 7px 10px;
}

.mobile_portfolio_pics		{
	padding-top: 50px;
	padding-bottom: 35px;
}

.div_portfolio_pics		{
	width: 100%;
	margin-bottom: 15px !important;
}

.div_portfolio_pics img    {
	height: 200px;
}

/*================================================================================== Contact.php */

.div_purchase_contact	{
	display: none;
}

.div_contact_header		{
	margin-top: 95px;
	margin-bottom: 35px;
}

.div_contact_header h1   {
	font-size: 22px;
}

.div_contact_header p    {
	font-size: 12px;
}

.div_contact_flag_container		{
	height: 656px;
}

.div_contact_flag_container div    {
	padding-top: 55px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 55px;
}

.div_contact_flag_container p     {
	font-size: 12px;
}

.div_contact_flag_container i     {
	font-size: 75px !important;
}

.div_mobile_contact			{
	padding-top: 50px;
	padding-bottom: 50px;
}

.div_contact     {
	padding: 0 !important;
}

.div_contact h3     {
	font-size: 20px;
}

.div_contact p:first-of-type   {
	font-size: 12px;
}

.red_line_contact	{
	margin-top: 10px;
	height: 2px;
	width: 14%;
}

.div_form     {
	width: 100%;
	margin-top: 75px;
	padding-left: 0 !important;
	padding-right: 0;
}

.div_form textarea   {
	width: 100%;
}

.div_form input    {
	display: block;
	float: left;
	margin-right: 0;
	width: 100%;
	padding-left: 4%;
}

.g-recaptcha > div {
    width: 100% !important;
}

.recaptcha-container   {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.g-recaptcha iframe {
    max-width: 100%;
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: center center;
    -webkit-transform-origin: center center;
}

#rc-imageselect {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.button_submit     {
	margin: 0 auto;
	margin-top: 35px;
	font-size: 14px;
	padding: 5px 3.5%;
}

.mobile_iframe		{
	height: 350px !important;
}

/*================================================================================== About.php */

.div_about_us	{
	margin-top: 80px;
	margin-bottom: 20px;
}

.div_about_us h1    {
	font-size: 22px;
}

.div_about_us p    {
	font-size: 12px;
}

.div_about_links	{
	width: 63%;
	padding: 5px 0;
}

.div_about_links li    {
	font-size: 12px;
	margin: 0;
}

.div_about_links a    {
	padding: 10px 10px;
}

.div_about_ct1     {
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
}

.div_about_ct2     {
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
	display: none;
}

.div_about_ct3     {
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
	display: none;
}

.red_line_about     {
	height: 2px;
	width: 15%;
	margin-bottom: 6%;
}

.mobile_motto		{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.div_laptop		{
	display: none;
}

.div_motto     {
	padding: 0 !important;
}

.div_icon_about    {
	margin-top: 2%;
	font-size: 25px;
	width: 15%;
	padding: 9px;
}

.div_inline_about h4    {
	font-size: 16px;
	margin-bottom: 0;
}

.div_inline_about a    {
	display: block;
	text-decoration: none;
	color: silver;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

.div_inline_about a:hover    {
	color: #b54321;
}

.div_inline_about p      {
	font-size: 12px;
}

.div_bckg_stat		{
	padding-top: 50px;
	padding-bottom: 50px;
}

.div_statistics		{
	width: 100%;
	margin-bottom: 50px;
}

.div_statistics:last-child	{
	margin-bottom: 0;
}

.mobile_logo	{
	padding-top: 25px !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.div_logos_ct	{
	margin-bottom: 0;
}

.div_logo   {
	float: left;
	width: 50%;
	margin-bottom: 25px;
}

.div_logo img    {
	height: 40px;
    width: 75%;
}

.mobile_about_support		{
	padding-top: 50px !important;
	padding-bottom: 50px !important;
	display: flex;
	flex-wrap: wrap;
}

.div_about_list		{
	width: 100%;
}

.mobile_choose		{
	padding: 0 !important;
	margin-bottom: 50px;
}

.mobile_choose h3     {
	font-size: 18px;
	text-align: center;
}

.red_line_choose	{
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 2px;
	width: 14%;
}

.mobile_choose p    {
	font-size: 12px;
	text-align: center;
}

.div_about_list		{
	order: 2;
}

.div_about_list h4    {
	font-size: 15px;
}

.div_about_list i   {
	font-size: 16px;
}

.text_about   {
	font-size: 12px;
	margin-left: 7.5%;
	margin-bottom: 20px;
}

/*================================================================================== 404.php */

.mobile_404	h1	{
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.mobile_404 input     {
	font-size: 12px;
	width: 60%;
	padding: 8px 10px;
}

.div_404		{
	padding-bottom: 50px;
}

.div_404 span    {
	font-size: 100px;
}

.div_404 p    	{
	font-size: 12px;
}

.text_404    {
	top: 20%;
	left: -1%;
	font-size: 20px !important;
	line-height: 150% !important;
}

.div_404 input    {
	font-size: 12px;
	padding: 7px 15px;
}

}