body	{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.clear	{
	clear: both;
}

.padding_top_bottom		{
	padding-top: 100px;
	padding-bottom: 100px;
}

.margin_top0	{
	margin-top: 0 !important;
}

.margin_bottom0		{
	margin-bottom: 0 !important;
}

.padding0    {
	padding: 0;
}

.padding_left0		{
	padding-left: 0 !important;
}

.padding_right0		{
	padding-right: 0 !important;
}

.div_rgba	{
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(48, 53, 57, 0.6);
	height: 100%;
	width: 100%;
}

.news	{
	position: fixed;
	top: 35%;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 40px;
	color: #eaecf1;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 1;
}

.news a     {
	text-decoration: none;
	color: #eaecf1;
}

.FB      {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 40px;
	color: #eaecf1;
	padding: 7px 19.5px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.FB:hover i   {
	color: #7195e4;
}

.TW      {
	position: absolute;
	top: 202%;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 40px;
	color: #eaecf1;
	padding: 7px 19.5px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.TW:hover i    {
	color: #1da1f2;
}

.LI      {
	position: absolute;
	top: 303%;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 40px;
	color: #eaecf1;
	padding: 7px 19.5px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-right-radius: 5px;
	display: none;
}

.LI:hover i    {
	color: #0076b5;
}

.div_relative	{
	position: relative;
}

.news:hover	{
	cursor: pointer;
	color: darkorange;
}

.to_top		{
	position: fixed;
	top: 80%;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 40px;
	color: #eaecf1;
	text-align: center;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	box-sizing: border-box;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	line-height: 10%;
	z-index: 2;
	display: none;
}

.to_top i    {
	margin-right: -19%;
	margin-bottom: 15%;
}

.to_top p   {
	font-size: 15px;
	margin-bottom: 0;
}

.to_top:hover    {
	cursor: pointer;
	color: darkorange;
}

/*=============================================================== General */

.fa-twitter:hover	{
	color: #1da1f2;
}

.fa-facebook-f:hover	{
	color: #7195e4;
}

.fa-instagram:hover		{
	color: #e33f5e;
}

.fa-dribbble:hover	{
	color: #a27dfb;
}

.fa-behance:hover	{
	color: #36d23b;
}

.fa-google-plus:hover  {
	color: red;
}

.fa-pinterest:hover     {
	color: #bd081c;
}

.bckg_color1	{
	padding-top: 25px;
	background: rgb(48, 53, 57);
	padding-bottom: 25px;
}

.header1_left	{
	float: left;
}

.header1_left ul	{
	list-style: none;
	color: #eaecf1;
	padding: 0;
	margin: 0;
}

.header1_left li    {
	font-size: 15px;
	padding-left: 20px;
	display: inline-block;
	line-height: 0;
}

.header1_left li:first-child	{
	padding-left: 0;
}

.header1_left a		{
	text-decoration: none;
	color: #eaecf1;
}

.header1_left a:hover	{
	color: #b54321;
}

.header1_right	{
	float: right;
}

.header1_right ul    {
	list-style: none;
	color: #eaecf1;
	padding: 0;
	margin: 0;
}

.header1_right li     {
	font-size: 15px;
	padding-right: 30px;
	display: inline-block;
}

.header1_right li:last-of-type		{
	padding-right: 0;
}

.header1_right a	{
	text-decoration: none;
	color: #eaecf1;
}

/*=============================================================== Header_1 */

.bckg_color2	{
	position: absolute;
	top: 0;
	background: rgba(144, 144, 151, 0.6);
	width: 100%;
	z-index: 999;
}

.logo	{
	float: left;
	margin-top: 18.5px;
}

.logo img  {
	height: 50px;
	object-fit: contain;
}

.div_mobile	{
	display: none;
}

.menu	{
	float: right;
}

.menu ul	{
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.menu li    {
	font-size: 17px;
	display: inline-block;
	padding-right: 35px;
}

.menu li:last-child		{
	padding-right: 0;
	color: #eaecf1;
}

.menu li:hover     {
	cursor: pointer;
	color: #b54321;
}

.menu a    {
	text-decoration: none;
	color: #eaecf1;
}

.menu a:hover	{
	color: #b54321;
}

.documentation		{
	position: relative;
}

.documentation:hover .submenu   {
	display: block;
}

.dropbtn	{
	background: inherit;
	padding: 30px 0;
    font-size: 17px;
    border: none;
}

.dropbtn:focus		{
	border: none;
	outline: none;
	box-shadow: none;
}

.submenu	{
	position: absolute;
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	font-size: 17px;
	background-color: rgb(41, 44, 49);
	border-top: 2px solid #b54321;
	display: none;
}

.submenu li     {
	display: block;
	padding: 0;
}

.submenu a   {
	display: block;
	text-decoration: none;
	color: #eaecf1;
	padding-top: 20px;
	padding-left: 18px;
	padding-right: 57px;
	padding-bottom: 20px;
}

.submenu a:hover    {
	background-color: rgba(234, 236, 241, 0.1);
	color: #b54321;
}

/*=============================================================== Header_2 */

/*================================================================================================*/
/*================================================================================== Index.php */
/*================================================================================================*/

.header_slider		{
	position: relative;
	width: 100%;
}

.bckg_img_index1	{
	position: relative;
	padding: 0;
	background: url('/web/project/img/slider/bg15.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bckg_img_index2	{
	position: relative;
	padding: 0;
	background: url('/web/project/img/bg16.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bckg_img_index3	{
	position: relative;
	padding: 0;
	background: url('/web/project/img/bg10.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.div_info		{
	position: relative;
	padding-top: 225px;
	padding-bottom: 150px;
}

.div_info:hover     {
	cursor: pointer;
}

.div_info h1    {
	margin-top: 0;
	color: #eaecf1;
	font-family: 'Montserrat', sans-serif;
}

.div_info p     {
	margin-top: 30px;
	color: #eaecf1;
	margin-bottom: 30px;
	font-size: 15px;
}

.div_butzon		{
	float: left;
	background-color: #b54321;
	color: #eaecf1;
	padding: 10px 25px;
	box-sizing: border-box;
	border-radius: 30px;
	font-size: 15px;
	transition: all 0.3s linear;
}

.div_butzon:hover    {
	cursor: pointer;
	transform: rotate(360deg) scale(1.2);
	background-color: orange;
	color: #b54321;
}

.slick-dots		{
	text-decoration: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	color: white;
}

.slick-dots li   {
	display: inline-block;
	padding-right: 5px;
	margin-left: 5px;
	border-radius: 50%;
	opacity: 0.5;
}

.slick-dots i:hover    {
	cursor: pointer;
}

.div_purchase	{
	position: absolute;
	top: 60%;
	right: 0;
	background-color: #b54321;
	font-size: 20px;
	color: #eaecf1;
	padding: 15px;
	box-sizing: border-box;
}

.div_purchase:hover		{
	cursor: pointer;
	color: #b54321;
	background-color: orange;
}

.div_features		{
	text-align: center;
	color: #667;
}

.div_features i     {
	font-size: 85px;
}

.div_features h4  {
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
}

.red_line		{
	height: 3px;
	width: 12%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 25px;
	background-color: #b54321;
}

.bckg_img2	{
	position: relative;
	background-image: url('/web/project/img/bg16.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bckg_color3	{
	background-color: rgb(48, 53, 57);
	color: #eaecf1;
}

.bckg_color3 p  {
	line-height: 220%;
	margin-bottom: 0;
}

.div_us	{
	padding-top: 10%;
}

.div_us h3	{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.red_line_us	{
	height: 3px;
	width: 6%;
	margin-top: 4%;
	margin-bottom: 4%;
	background-color: #b54321;
}

.div_clients	{
	padding-top: 9%;
	padding-bottom: 10%;
}

.div_clients h4		{
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 6%;
}

.div_clients i   {
	margin-right: 3%;
}

.div_options	{
	padding-top: 150px;
	padding-bottom: 150px;
}

.div_opt_ct		{
	margin-bottom: 75px;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

.div_inline		{
	width: 85%;
	padding-left: 7%;
	float: right;
}

.div_inline h4	{
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	color: #667;
	margin-bottom: 5%;
}

.div_inline a   {
	display: none;
}

.div_inline p    {
	color: #667;
	line-height: 220%;
	margin-bottom: 0;
}

.div_inline, .div_icon		{
	display: inline-block;
}

.div_icon		{
	margin-top: 1.5%;
	width: 15%;
	float: left;
	background: rgb(48, 53, 57);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-size: 45px;
	padding: 15px;
	box-sizing: border-box;
	color: #eaecf1;
}

.div_flag_container		{
	color: #eaecf1;
}

.div_flag_container h3	{
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 5.5%;
}

.div_flag_container a   {
	display: none;
}

.div_flag_container p   {
	line-height: 220%;
	margin-bottom: 0;
	padding-right: 1%;
}

.div_flag1		{
	position: relative;
	padding-top: 75px;
	background-color: rgb(46, 128, 132);
	padding-bottom: 75px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.div_flag1 span		{
	font-family: 'Montserrat', sans-serif;
	display: block;
	position: absolute;
	bottom: 25%;
	right: 2.5%;
	font-size: 105px;
	opacity: 0.2;
	line-height: 0;
}

.div_flag2	{
	position: relative;
	padding-top: 75px;
	background-color: rgb(55, 56, 65);
	padding-bottom: 75px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.div_flag2 span		{
	font-family: 'Montserrat', sans-serif;
	display: block;
	position: absolute;
	bottom: 25%;
	right: 2.5%;
	font-size: 105px;
	opacity: 0.2;
	line-height: 0;
}

.div_flag3	{
	position: relative;
	padding-top: 75px;
	background-color: rgb(134, 66, 52);
	padding-bottom: 75px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.div_flag3 span		{
	font-family: 'Montserrat', sans-serif;
	display: block;
	position: absolute;
	bottom: 25%;
	right: 2.5%;
	font-size: 105px;
	opacity: 0.2;
	line-height: 0;
}

.div_projects    {
	padding-top: 150px;
	padding-bottom: 150px;
}

.div_our_projects		{
	float: left;
	margin-bottom: 50px;
}

.div_our_projects h3	{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #667;
}

.red_line_pro		{
	height: 3px;
	width: 24%;
	margin-top: 10px;
	background-color: #b54321;
}

.div_list    {
	float: right;
	width: 23%;
	margin-bottom: 50px;
}

.div_list ul   {
	padding: 0;
	margin: 0;
	list-style: none;
	color: #667;
}

.div_list li   {
	line-height: 0;
	margin-right: 7%;
	display: inline-block;
}

.div_list li:last-child		{
	margin-right: 0;
}

.div_list a:hover, .div_list i:hover	{
	cursor: pointer;
	color: #b54321;
}

.div_list a 	{
	text-decoration: none;
	color: inherit;
}

.div_img_container		{
	margin-top: 16px;
}

.div_img      {
	position: relative;
	float: left;
	width: calc(33.33333333% - 0.999%);
	margin-right: 1.5%;
}

.div_img:last-child    {
	margin-right: 0;
}

.div_img img   {
	height: 275px;
	width: 100%;
	object-fit: cover;
}

.div_img:hover .rgba_hover     {
	cursor: pointer;
	display: block;	
}

.rgba_hover		{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(8, 8, 8, 0.7);
	color: #eaecf1;
	padding: 0 25px;
	display: none;
}

.rgba_hover h3     {
	margin-top: 29%;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
}

.red_line_rgba_hover	{
	margin-top: 5%;
	height: 3px;
	width: 13%;
	background-color: #b54321;
	margin-bottom: 8%;
}

.skill	{
	font-family: 'Montserrat', sans-serif;
}

.date   {
	float: right;
	margin-top: 6%;
	margin-bottom: 0;
}

.div_team_container		{
	padding-top: 125px;
	text-align: center;
	background-color: rgb(55, 56, 65);
	padding-bottom: 125px;
}

.div_team_container h3  {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	color: #eaecf1;
	margin-bottom: 25px;
}

.red_line_team		{
	height: 3px;
	width: 1.9%;
	margin: 0 auto;
	margin-bottom: 100px;
	background-color: #b54321;
}

.box_img i   {
	display: none;
}

.box_img img   {
	height: 350px;
	width: 100%;
	object-fit: cover;
}

.slick-slide	{
	position: relative;
}

.slick-arrow	{
	position: absolute;
	top: 32%;
	z-index: 9;
	background: inherit;
	color: white;
	border-style: none;
	outline: none;
}

.slick-slide .fa-angle-left	.fa-angle-right	{
	font-weight: bolder;
}

.slick-next		{
	right: 20px;
	font-size: 100px;
	opacity: 0.7;
}

.slick-next:hover   {
	opacity: 1;
}

.slick-prev		{
	left: 85px;
	font-size: 100px;
	opacity: 0.7;
}

.slick-prev:hover    {
	opacity: 1;
}

.slick-active	{
	opacity: 1 !important;
}

.div_stamp		{
	margin-top: 100px;
}

.div_stamp img   {
	object-fit: contain;
	opacity: 0.7;
}

.div_cite    {
	padding-top: 5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 5%;
	text-align: center;
}

.div_cite p   {
	font-size: 18px;
	line-height: 220%;
	margin-bottom: 2%;
}

.div_cite p:last-child	{
	margin-bottom: 0;
}

.div_test	{
	position: relative;
	padding-top: 5%;
	background-color: rgb(55, 56, 65);
	padding-left: 3.5%;
	padding-right: 3.5%;
	color: #eaecf1;
	padding-bottom: 3%;
}

.red_line_test		{
	height: 3px;
	width: 9%;
	margin-bottom: 5%;
	background-color: #b54321;
}

.div_test h3   {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 6%;
}

.div_test p   {
	line-height: 220%;
	margin-bottom: 0;
}

.div_test i   {
	position: absolute;
	right: 7%;
	bottom: 7%;
	font-size: 60px;
	opacity: 0.3;
}

.div_hover		{
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.div_hover:hover p,  .div_hover:hover h4  {
	color: #eaecf1 !important;
}

.div_hover:hover  {
	cursor: pointer;
	background-color: #b54321;
	color: #eaecf1 !important;
}

.div_hover h4   {
	margin-top: 15%;
	color: #667;
	margin-bottom: 7%;
}

.div_hover i   {
	margin-right: 4%;
	font-size: 25px;
}

.div_hover p   {
	line-height: 220%;
	color: #667;
	margin-bottom: 6%;
}

.red_line_hover		{
	height: 3px;
	width: 11%;
	margin-top: 6%;
	margin-bottom: 15%;
	background-color: #b54321;
}

/*=============================================================== Footer */

.bckg_color4	{
	background-color: rgb(48, 50, 54);
}

.div_footer		{
	padding-top: 75px;
	padding-bottom: 75px;
}

.div_footer_container	{
	height: 250px;
	color: #eaecf1;
}

.div_footer_container h4	{
	font-family: 'Montserrat', sans-serif;
}

.div_footer_container ul    {
	padding: 0;
	list-style: none;
}

.div_footer_container li    {
	margin-top: 6%;
	display: inline-block;
	margin-right: 7%;
}

.div_footer_container li:hover   {
	color: #b54321;
}

.div_footer_container:first-child a    {
	text-decoration: none;
	color: inherit;
	line-height: 0;
}

.div_footer_container i   {
	font-size: 17px;
}

.red_line_footer		{
	height: 3px;
	width: 7%;
	margin-top: 4%;
	margin-bottom: 4%;
	background-color: #b54321;
}

.bckg_img3		{
	background-image: url('/web/project/img/map.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
	background-size: 90%;
}

.bckg_img3 a     {
	text-decoration: none;
	color: #eaecf1;
}

.Email		{
	width: 80%;
	background-color: inherit;
	border: 0;
	border-radius: 0;
	border-bottom: 3px solid #b54321;
	color: #eaecf1;
}

.Email::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
	color: #eaecf1 !important;
}
.Email:-moz-placeholder {  /* Firefox 18- */
	color: #eaecf1 !important;
	opacity: 1;
}
.Email::-moz-placeholder {  /* Firefox 19+ */
	color: #eaecf1 !important;
	opacity: 1;
}
.Email:-ms-input-placeholder {  /* IE 10+ */
	color: #eaecf1 !important;
}

.form-control:focus		{
	border: none;
	border-bottom: 3px solid #b54321;
	outline: none;
	box-shadow: none;
}

.div_twitter, .div_tweet	{
	margin-top: 4%;
}

.div_tweet p   {
	margin-bottom: 0;
}

.div_twitter i   {
	margin-top: 34%;
	font-size: 17px;
}

.div_copyright p	{
	margin-top: 4%;
	color: #eaecf1;
	margin-bottom: 0;
}

/*================================================================================================*/
/*================================================================================== Services.php */
/*================================================================================================*/

.bckg_img_services1		{
	position: relative;
	padding: 0;
	background-image: url('/web/project/img/bg02.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.div_serve      {
	position: relative;
	margin-top: 255px;
	margin-bottom: 175px;
	color: #eaecf1;
}

.div_serve h1   {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.div_serve p    {
	margin-bottom: 0;
	line-height: 220%;
}

.red_line_services		{
	height: 3px;
	width: 10%;
	margin-top: 4%;
	margin-bottom: 5.5%;
	background-color: #b54321;
}

.div_services_pic	{
	color: #eaecf1;
}

.div_services_pic a    {
	display: none;
}

.div_services_pic p     {
	line-height: 220%;
}

.div_services_relative		{
	position: relative;
}

.div_services_relative h3    {
	font-family: 'Montserrat', sans-serif;
}

.div_services_ct1	{
	position: relative;
	padding-top: 60px;
	padding-left: 2.5%;
    padding-right: 2.5%;
	background: url('/web/project/img/bg10.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 60px;
}

.div_services_ct2	{
	position: relative;
	padding-top: 60px;
	padding-left: 2.5%;
    padding-right: 2.5%;
	background: url('/web/project/img/slider/bg11.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 60px;
}

.div_services_ct3	{
	position: relative;
	padding-top: 60px;
	padding-left: 2.5%;
    padding-right: 2.5%;
	background: url('/web/project/img/bg13.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 60px;
}

.red_line_pic		{
	height: 3px;
	width: 6.5%;
	margin-top: 2.5%;
	margin-bottom: 3.5%;
	background-color: #b54321;
}

.div_services_icon	{
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_services     {
	color: #667;
	margin-bottom: 50px;
}

.div_services:nth-child(5)	{
	margin-bottom: 0;
}

.div_services:last-child	{
	margin-bottom: 0;
}

.div_services h4    {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15px;
}

.div_services a     {
	display: none;
}

.div_services p    {
	line-height: 220%;
}

.div_services i    {
	margin-top: 15px;
	margin-right: 50%;
	font-size: 45px;
	color: #b54321;
}

/*================================================================================================*/
/*================================================================================== FAQ.php */
/*================================================================================================*/

.bckg_img_faq		{
	position: relative;
	padding: 0;
	background-image: url('/web/project/img/bg10.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.div_faq	{
	position: relative;
	margin-top: 275px;
	margin-bottom: 175px;
	color: #eaecf1;
}

.div_faq h1	   {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.div_faq p    {
	margin-bottom: 0;
	line-height: 220%;
}

.div_purchase_faq		{
	position: absolute;
	top: 25%;
	right: 0;
	background-color: #b54321;
	font-size: 20px;
	color: #eaecf1;
	padding: 15px;
	box-sizing: border-box;
}

.div_purchase_faq:hover     {
	cursor: pointer;
	color: #b54321;
	background-color: orange;
}


.div_accounts	{
	position: relative;
	background-color: white;
	width: 42%;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #667;
}

.div_accounts ul   {
	list-style: none;
	padding: 10px 0;
	margin-bottom: 0;
}

.div_accounts li   {
	display: inline-block;
	margin-right: 7%;
}

.div_accounts li:last-of-type	{
	margin-right: 0;
}

.div_accounts li:hover    {
	cursor: pointer;
	color: #b54321;
}

.red   {
	color: #b54321;
}

.div_faq_container		{
	padding-top: 100px;
	padding-bottom: 100px;
	color: #667;
}

.div_faq_options ul   {
	list-style: none;
	padding: 0;
	margin-bottom: 150px;
}

.div_faq_options li   {
	margin-bottom: 35px;
}

.div_faq_options h4		{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 25px;
}

.div_faq_options h4:hover    {
	cursor: pointer;
	color: #b54321;
}

.buy     {
	display: none;
}

.pay     {
	display: none;
}

.card	  {
	display: none;
}

.fa-angle-down   {
	font-size: 22px;
	font-weight: 900;
	margin-right: 1.1%;
}

.fa-angle-up	{
	font-size: 22px;
	font-weight: 900;
	margin-right: 1.1%;
}

.text_faq	{
	margin-left: 3.4%;
	padding-bottom: 20px;
	line-height: 220%;
	display: none;
}

.buying		{
	display: none;
}

.payments		{
	display: none;
}

.credits		{
	display: none;
}

.div_faq_options h3   {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.red_line_faq_options	{
	margin-top: 25px;
	height: 3px;
	background-color: #b54321;
	width: 6%;
	margin-bottom: 35px;
}

.text_find		{
	line-height: 220%;
	margin-bottom: 0;
}

.div_contact_us		{
	margin-top: 50px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	background-color: lightgrey;
	border-radius: 2px;
	margin-bottom: 90px;
	transition: all 0.5s ease;
}

.div_contact_us:hover   {
	cursor: pointer;
	transform: scale(1.2);
	background-color: #b54321;
	color: yellow;
}

.div_hover_faq		{
	padding-top: 4%;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 4%;
}

.div_hover_faq:hover    {
	cursor: pointer;
	background-color: #b54321;
}

.div_hover_faq:hover p,  .div_hover_faq:hover h3  {
	color: #eaecf1 !important;
}

.div_hover_faq h3   {
	font-weight: 600;
	color: #667;
	margin-bottom: 7%;
}

.div_hover_faq i   {
	margin-right: 4%;
	font-size: 30px;
}

.div_hover_faq p   {
	line-height: 220%;
	color: #667;
	margin-bottom: 6%;
}

.red_line_faq	{
	height: 3px;
	width: 12%;
	margin-top: 4%;
	background-color: #b54321;
}

.div_beyond		{
	color: #667;
}

.div_beyond h3   {
	margin-top: 60px;
	font-family: 'Montserrat', sans-serif;
}

.div_beyond h3:first-of-type	{
	margin-top: 0;
}

.div_beyond h3:nth-of-type(2), .div_beyond h3:nth-of-type(3)	{
	margin-bottom: 40px;
}

.div_beyond p   {
	line-height: 220%;
	margin-bottom: 0;
}

.div_beyond ul    {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.div_beyond li    {
	margin-top: 20px;
}

.div_beyond ul i		{
	font-weight: bolder;
	margin-right: 4%;
}

.div_beyond li:hover   {
	color: #b54321;
}

.div_beyond a    {
	text-decoration: none;
	color: inherit;
}

.red_line_beyond	{
	height: 3px;
	width: 19%;
	margin-top: 6%;
	background-color: #b54321;
	margin-bottom: 10%;
}

.tags	{
	font-family: 'Montserrat', sans-serif;
	word-spacing: 11px;
	margin-bottom: 5px !important;
}

.tags a:hover      {
	color: #b54321;
}

.div_social   {
	margin-bottom: 15px;
}

.div_social span    {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.div_social_icon	{
	font-size: 18px;
	margin-right: 5%;
}

.div_social_icon i    {
	display: block;
	padding-top: 1px;
}

.span_hover:hover    {
	color: #b54321;
}

.span_right		{
	display: block;
	float: right;
	font-size: 13px !important;
	margin-top: 2px;
}

.fa-envelope:hover    {
	color: orange;
}

/*================================================================================================*/
/*================================================================================== Team.php */
/*================================================================================================*/

.div_pop_up		{
	position: fixed;
	top: 7.5%;
	left: 20%;
	background: rgba(0, 0, 0, 0.6);
	height: 85%;
	width: 60%;
	border-radius: 30px;
	z-index: 1;
	display: none;
}

.div_pop_up i    {
	float: right;
	color: #eaecf1;
	font-size: 50px;
	margin-top: 1.5%;
	margin-right: 2%;
}

.div_pop_up i:hover   {
	cursor: pointer;
	color: darkorange;
}

.div_inner    {
	width: 60%;
	height: 85%;
	margin: 0 auto;
	margin-top: 6.5%;
	border-radius: 20px;
	border: 20px solid #eaecf1;
}

.div_inner img    {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bckg_img_team		{
	position: relative;
	padding: 0;
	background-image: url('/web/project/img/slider/bg15.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.div_our_team	{
	position: relative;
	margin-top: 275px;
	margin-bottom: 175px;
	color: #eaecf1;
}

.div_our_team h1	   {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.div_our_team p    {
	margin-bottom: 0;
	line-height: 220%;
}

.div_team_links		{
	position: relative;
	background-color: white;
	float: right;
	padding: 12px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	width: 17%;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.div_team_links ul    {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

.div_team_links li    {
	display: inline-block;
	margin-right: 3.5%;
}

.div_team_links li:last-child    {
	margin-right: 0;
}

.div_team_links a    {
	text-decoration: none;
	color: #667;
}

.div_team_links a:hover    {
	color: #b54321;
}

.div_team		{
	float: left;
	width: calc(33.33333333% - 1.9999999999999999999%);
	margin-right: 3%;
	color: #667;
}

.div_team:nth-child(3)		{
	margin-right: 0;
}

.div_team:last-child	{
	margin-right: 0;
}

.div_team_pic		{
	margin-bottom: 25px;
}

.div_team_pic:hover     {
	cursor: pointer;
	opacity: 0.7;
}

.div_team_pic img     {
	height: 325px;
	width: 100%;
	object-fit: cover;
	border-radius: 3px;
}

.div_undertitle		{
	font-size: 17px;
	margin-bottom: 5px;
}

.span_name		{
	float: left;
	font-family: 'Montserrat', sans-serif;
}

.div_media		{
	float: right;
	width: 34%;
}

.div_media a     {
	text-decoration: none;
	color: inherit;
	padding-right: 25%;
}

.div_media a:last-child    {
	padding-right: 0;
}

.span_occupation	{
	display: block;
	color: #b54321;
	margin-bottom: 25px;
}

.div_team_flag_container	{
	color: #eaecf1;
}

.div_team_flag_container a    {
	display: none;
}

.div_team_flag_container h3    {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 30px;
}

.div_team_flag_container div p:last-of-type		{
	margin-bottom: 0;
}

.div_team_flag_container div i   {
	position: absolute;
	right: 2.5%;
	bottom: 1.5%;
	font-size: 105px;
	opacity: 0.5;
}

.div_team_flag1		{
	position: relative;
	background-color: rgb(134, 66, 52);
	padding-top: 65px;
	padding-bottom: 65px;
	padding-left: 2.5%;
	padding-right: 2.5% !important;
	padding-right: 0;
}

.div_team_flag2		{
	position: relative;
	background-color: rgb(55, 56, 65);
	padding-top: 65px;
	padding-bottom: 65px;
	padding-left: 2.5%;
	padding-right: 2.5% !important;
	padding-right: 0;
}

.div_team_flag3		{
	position: relative;
	background-color: rgb(46, 128, 132);
	padding-top: 65px;
	padding-bottom: 65px;
	padding-left: 2.5%;
	padding-right: 2.5% !important;
	padding-right: 0;
}

.div_team_flag4		{
	position: relative;
	background-color: rgb(151, 109, 52);
	padding-top: 65px;
	padding-bottom: 65px;
	padding-left: 2.5%;
	padding-right: 2.5% !important;
	padding-right: 0;
}

/*================================================================================================*/
/*================================================================================== Portfolio.php */
/*================================================================================================*/

.bckg_img_portfolio		{
	position: relative;
	padding: 0;
	background-image: url('/web/project/img/p04.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.div_portfolio	{
	position: relative;
	margin-top: 265px;
	margin-bottom: 125px;
	color: #eaecf1;
}

.div_portfolio h1	   {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.div_portfolio p    {
	margin-bottom: 0;
	line-height: 220%;
}

.div_portfolio_links	{
	position: relative;
	background-color: white;
	float: right;
	padding: 12px 15px;
	box-sizing: border-box;
	width: 24%;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.div_portfolio_links ul    {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

.div_portfolio_links li    {
	display: inline-block;
	margin-right: 9%;
}

.div_portfolio_links li:last-child    {
	margin-right: 0;
}

.div_portfolio_links a    {
	text-decoration: none;
	color: #667;
}

.div_portfolio_links a:hover     {
	color: #b54321;
}

.div_purchase_portfolio		{
	position: absolute;
	top: 22%;
	right: 0;
	background-color: #b54321;
	font-size: 20px;
	color: #eaecf1;
	padding: 15px;
	box-sizing: border-box;
}

.div_purchase_portfolio:hover     {
	cursor: pointer;
	color: #b54321;
	background-color: orange;
}

.div_portfolio_pics		{
	float: left;
	width: calc(50% - 0.75%);
	margin-right: 1.5%;
	margin-bottom: 17px;
}

.div_portfolio_pics img    {
	height: 425px;
	width: 100%;
	object-fit: cover;
}

/*================================================================================================*/
/*================================================================================== Contact.php */
/*================================================================================================*/

.bckg_img_contact		{
	position: relative;
	padding: 0;
	background-image: url('/web/project/img/bg06.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.div_contact_header	{
	position: relative;
	margin-top: 250px;
	margin-bottom: 150px;
	color: #eaecf1;
}

.div_contact_header h1	   {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.div_contact_header p    {
	margin-bottom: 0;
	line-height: 220%;
}

.div_contact_flag_container		{
	color: #eaecf1;
}

.div_contact_flag_container p    	{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15px;
}

.div_contact_flag_container div p:last-of-type		{
	margin-bottom: 0;
}

.div_contact_flag_container div i   {
	position: absolute;
	right: 4%;
	bottom: 5%;
	font-size: 115px;
	opacity: 0.5;
}

.div_contact_flag1		{
	position: relative;
	background-color: rgb(134, 66, 52);
	padding-top: 75px;
	padding-bottom: 75px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.div_contact_flag2		{
	position: relative;
	background-color: rgb(55, 56, 65);
	padding-top: 75px;
	padding-bottom: 75px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.div_contact_flag3		{
	position: relative;
	background-color: rgb(46, 128, 132);
	padding-top: 75px;
	padding-bottom: 75px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.div_contact_flag4		{
	position: relative;
	background-color: rgb(151, 109, 52);
	padding-top: 75px;
	padding-bottom: 75px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.div_purchase_contact		{
	position: absolute;
	top: 22%;
	right: 0;
	background-color: #b54321;
	font-size: 20px;
	color: #eaecf1;
	padding: 15px;
	box-sizing: border-box;
}

.div_purchase_contact:hover     {
	cursor: pointer;
	color: #b54321;
	background-color: orange;
}

.div_contact     {
	color: #667;
}

.div_contact h3    {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
}

.div_contact p     {
	line-height: 220%;
	margin-bottom: 0;
}

.div_contact a    {
	text-decoration: none;
	color: #667;
}

.red_line_contact		{
	margin-top: 15px;
	height: 3px;
	width: 11%;
	background-color: #b54321;
	margin-bottom: 20px;
}

.div_form form   {
	width: 100%;
}

.div_form form::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
	color: #667 !important;
}
.div_form form:-moz-placeholder {  /* Firefox 18- */
	color: #667 !important;
	opacity: 1;
}
.div_form form::-moz-placeholder {  /* Firefox 19+ */
	color: #667 !important;
	opacity: 1;
}
.div_form form:-ms-input-placeholder {  /* IE 10+ */
	color: #667 !important;
}

.div_form input   {
	float: left;
	height: 50px;
	width: calc(50% - 3.5%);
	margin-right: 3.5%;
	padding-left: 2%;
	background-color: rgb(232, 232, 232);
	border: 0;
	border-radius: 2px;
	margin-bottom: 20px;
	color: #667;
}

.div_form textarea   {
	height: 250px;
	width: calc(100% - 3.5%);
	margin-right: 3.5%;
	padding-top: 1.5%;
	padding-left: 2%;
	background-color: rgb(232, 232, 232);
	border: 0;
	border-radius: 2px;
	margin-bottom: 20px;
	color: #667;
}

.button_submit		{
	margin-top: 30px;
	border: 0;
	background-color: rgb(80, 84, 96);
	color: #eaecf1;
	padding: 10px 3.5%;
	box-sizing: border-box;
	border-radius: 2px;
	font-size: 16px;
	transition: all 0.2s linear;
}

.button_submit:hover     {
	background-color: darkorange;
	transform: rotate(360deg) scale(1.2);
	color: #b54321;
}

/*================================================================================================*/
/*================================================================================== About.php */
/*================================================================================================*/

.bckg_img_about		{
	position: relative;
	padding: 0;
	background-image: url('/web/project/img/bg07.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.div_about_us	{
	position: relative;
	margin-top: 250px;
	margin-bottom: 125px;
	color: #eaecf1;
}

.div_about_us h1	   {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.div_about_us p    {
	margin-bottom: 0;
	line-height: 220%;
}

.div_about_links		{
	position: relative;
	background-color: white;
	float: right;
	padding: 12px;
	box-sizing: border-box;
	width: 16%;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.div_about_links ul    {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

.div_about_links li    {
	display: inline-block;
	margin-right: 3.5%;
}

.div_about_links li:last-child    {
	margin-right: 0;
}

.div_about_links a    {
	text-decoration: none;
	color: #667;
}

.div_about_links a:hover    {
	color: #b54321;
}

.div_about_ct1	{
	position: relative;
	padding-top: 60px;
	padding-left: 2.5%;
    padding-right: 2.5%;
	background: url('/web/project/img/bg10.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 60px;
}

.div_about_ct2	{
	position: relative;
	padding-top: 60px;
	padding-left: 2.5%;
    padding-right: 2.5%;
	background: url('/web/project/img/bg06.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 60px;
}

.div_about_ct3	{
	position: relative;
	padding-top: 60px;
	padding-left: 2.5%;
    padding-right: 2.5%;
	background: url('/web/project/img/bg13.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 60px;
}

.red_line_about		{
	height: 3px;
	width: 9.5%;
	margin-top: 2.5%;
	margin-bottom: 3.5%;
	background-color: #b54321;
}

.div_laptop img   {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.div_motto      {
	padding-left: 4%;
}

.div_motto_ct		{
	margin-top: 50px;
	margin-bottom: 50px;
}

.div_inline_about    	{
	width: 85%;
	padding-left: 4%;
	float: right;
}

.div_inline_about h4	{
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	color: #667;
	margin-bottom: 4%;
}

.div_inline_about a   {
	display: none;
}

.div_inline_about p    {
	color: #667;
	line-height: 220%;
	margin-bottom: 0;
}

.div_inline_about, .div_icon_about		{
	display: inline-block;
}

.div_icon_about		{
	margin-top: 1.5%;
	width: 13%;
	float: left;
	background: rgb(48, 53, 57);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-size: 35px;
	padding: 15px;
	box-sizing: border-box;
	color: #eaecf1;
}

.div_motto div:last-child	{
	margin-top: 0;
}

.div_bckg_stat		{
	padding-top: 100px;
	background-color: rgb(234, 234, 234);
	padding-bottom: 100px;
}

.div_statistics		{
	float: left;
	width: 25%;
	text-align: center;
	color: #667;
}

.div_statistics i     {
	font-size: 65px;
	opacity: 0.2;
	margin-bottom: 5px;
}

.div_statistics span   {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	opacity: 0.8;
}

.red_line_stat		{
	height: 3px;
	background-color: #b54321;
	width: 15%;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 15px;
}

.div_statistics p    {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin-bottom: 0;
}

.div_bckg_logos		{
	position: relative;
	background-image: url(/web/project/img/bg14.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.div_logos_ct		{
	margin-bottom: 125px;
}

.div_logo     {
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_logo img    {
	opacity: 0.8;
}

.div_about_list		{
	color: #667;
}

.div_about_list ul    {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.div_about_list li    {
	padding-bottom: 15px;
}

.div_about_list li:nth-of-type(4)   {
	padding-bottom: 0;
}

.div_about_list h4    {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
	padding-bottom: 20px;
}

.div_about_list h4:hover   {
	cursor: pointer;
	color: #b54321;
}

.text_about	{
	margin-left: 4.6%;
	line-height: 220%;
	margin-bottom: 35px;
	display: none;
}

.div_choose		{
	color: #667;
}

.div_choose h3    {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.red_line_choose	{
	margin-top: 20px;
	height: 3px;
	background-color: #b54321;
	width: 9%;
	margin-bottom: 25px;
}

.div_choose p   {
	line-height: 220%;
	margin-bottom: 0;
}

.div_support		{
	margin-top: 50px;
	color: #667;
}

.div_support i     {
	font-size: 35px;
	margin-right: 3%;
}

.div_support h3     {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 25px;
}

.div_support p     {
	line-height: 220%;
	margin-bottom: 0;
}

/*================================================================================================*/
/*================================================================================== 404.php */
/*================================================================================================*/

.bckg_img_404	{
	position: relative;
	background-image: url('/web/project/img/p05.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bckg_img_404 h1   {
	position: relative;
	margin-top: 23%;
	font-family: 'Montserrat', sans-serif;
	color: #eaecf1;
	margin-bottom: 20%;
}

.bckg_img_404  input    {
	position: relative;
	float: right;
	width: 25%;
	color: #667;
	border: 0;
	padding: 12px 20px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.bckg_img_404  input::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
	color: #667 !important;
}
.bckg_img_404  input:-moz-placeholder {  /* Firefox 18- */
	color: #667 !important;
	opacity: 1;
}
.bckg_img_404  input::-moz-placeholder {  /* Firefox 19+ */
	color: #667 !important;
	opacity: 1;
}
.bckg_img_404  input:-ms-input-placeholder {  /* IE 10+ */
	color: #667 !important;
}

.bckg_img_404  input:focus		{
	border: none;
	outline: none;
	box-shadow: none;
}

.div_404	{
	position: relative;
	text-align: center;
	color: #667;
	padding-bottom: 150px;
}

.div_404 span    {
	display: block;
	font-size: 300px;
	opacity: 0.4;
	margin-top: 45px;
}

.text_404		{
	position: absolute;
	top: 29%;
	left: 23%;
	font-size: 40px;
	line-height: 0;
}

.div_404 p     {
	line-height: 220%;
	margin: 0;
}

.div_404 input   {
	margin-top: 50px;
	padding: 10px 20px;
	color: #eaecf1;
	background-color: rgb(80, 84, 96);
	border: 0;
	border-radius: 2px;
	transition: all 0.7s linear;
}

.div_404 input:hover    {
	transform: rotate(360deg) scale(1.5);
	background-color: darkorange;
	color: #b54321;
}